[2020-12-14 21:09] tgerdesnv opened #12 "Intended usage"
What is the intended usage of this library? It doesn't look like there are any examples or blog up yet.  Do I need to build a C++ program around this library? How do I then invoke it while running a python pytorch run?

[2021-01-07 12:04] gdankel commented on #12
@tgerdesnv We will provide more details soon. The repo was made public to allow integration into PyTorch and enabling CI. But it's not quite ready for primetime. Why are you asking?

[2021-01-11 15:40] tgerdesnv commented on #12
@gdankel Thanks Gisle. I was just curious what the output will be and if it is something that could be consumed by another tool. Will there be an output that includes operation details (shape, inputs) combined with CPU + GPU timing information?

[2021-01-20 16:14] gdankel commented on #12
Yes exactly, that's the starting point.

[2021-02-04 10:40] aingo03304 opened #36 "Why CUDA_SOURCE_DIR instead of CUDA_HOME?"
This is sort of nitpicking.

According to README of libkineto and `CMakeLists.txt`,
[code]
https://github.com/pytorch/kineto/blob/3c772487cb98c7758e055af4788a3c1274f02a4f/libkineto/CMakeLists.txt#L80-L83

However, the build script of PyTorch uses CUDA_HOME.
Why did you choose CUDA_SOURCE_DIR instead of CUDA_HOME? Is there any reason for this?

[2021-02-05 00:40] ilia-cher commented on #36
(cc. @gdankel)

[2021-02-07 12:54] gaoteng-git opened #43 "Chrome tracing file can't tell async task with sync task"
Through reviewing the code of pytorch profiler and kineto, I found in the case of async task, there is an inconsistency on assigning thread id to FunctionEvent and ClientTraceActivity.

1.	When running with @torch.jit.script, torch.jit.fork and torch.jit.wait, such as the first example code in [Dynamic Parallelism in TorchScript](https://pytorch.org/tutorials/advanced/torch-script-parallelism.html

[2021-02-08 20:06] gdankel commented on #43
@gaoteng-git for 1) what do you think is the best option in terms of user experience? I agree we have to do *something* as overlapping regions in Chrome traces will mess up the rendering, and is in any case wrong.

For 2) I believe RecordFunction::currentThreadId is needed for looking up thread events on the pytorch side, but on the other hand pthread id is used by CUPTI. I will remove ChromeTrace

[2021-02-09 10:20] gaoteng-git commented on #43
@gdankel For 1) A possible option is to use two "Instant Events" with "ph":"i" to mark the begin and end of an async task, and add a new category of "Flow Events" to link the above two.
Another conservative way is just add a field to "args", with "name" such as "start thread id", then our plugin could differentiate async task with sync task.
I don't knowi its priority because I'm not sure whether

[2021-02-10 20:59] gdankel commented on #36
No good reason, happy to change! @ilia-cher, how did you get the build working then? Do you explicitly set CUDA_SOURCE_DIR as well?

[2021-02-11 14:37] gdankel commented on #36
@ilia-cher OK with changing this to CUDA_HOME I assume?

[2021-02-23 01:23] ilia-cher commented on #36
that's fine, sure, we'll need to double check the pytorch cmake, but feel free to make the change

[2021-02-24 12:24] gaoteng-git opened #80 "Chrome tracing json file fail to load because of unexpected string encoding"
When using pytorch profiler with kineto enabled to profile model such as torchvision.alexnet, the dumped chrome tracing file can't be loaded by chrome://tracing.
It is caused by string with unexpected encoding in the file:
![image](https://user-images.githubusercontent.com/10429114/108999925-f9755b80-76dd-11eb-916c-95465a1ce77c.png)

The running environment:
OS version: Ubuntu 18.04; Python: 3.8.5

[2021-02-25 17:46] tchaton opened #85 "_populate_cpu_children seems pretty slow"

[2021-02-25 17:48] tchaton opened #86 "Add ProfilerAction.PAUSE"
A ProfilerAction.PAUSE could be used to skip some batches when switching from train_dataloader to validation_dataloader

[2021-02-26 05:35] gdankel commented on #80
@gaoteng-git I see what the issue is looking at your screenshot. Thanks! Will fix.

[2021-03-03 21:39] chauhang opened #104 "CUDA traces not getting generated in some environments"
Cuda traces are not showing up for the [Resent sample](https://github.com/pytorch/kineto/blob/master/tb_plugin/examples/resnet50_profiler_api.py) in AWS DLAMI with CUDA 10.2. Generated trace is attached
[trace.zip](https://github.com/pytorch/kineto/files/6079348/trace.zip)

[2021-03-04 04:23] gaoteng-git opened #105 ""memory bandwidth" with invalid value inf in dumped chrome tracing file"
Our colleague produced the duration of "Memcpy" as 0 when using kineto to profile. It causes the "memory bandwidth (GB/s)" to be inf. Then the file can't be open by chrome://tracing and our tensorboard plugin's "json.load" fail to load it.

Because the inf is neither a string nor a number, so it can't be parsed as valid json format.
A solution is to add "if" to judge whether "dur" is 0, if so a st

[2021-03-05 18:16] gdankel commented on #80
This should be resolved in latest nightly - @gaoteng-git can you confirm as well?

[2021-03-06 03:30] gaoteng-git commented on #80
@gdankel Great! It works now!

[2021-03-08 13:01] gaoteng-git opened #109 "'"ts": 0' event is found in kineto's chrome tracing file"
When I train resnet50 model with big batch size such as 128 or 256, the profiler dumps the following events in chrome tracing file:
[code]

You can see "ts" is 0 and "dur" is 0 in above kernel. And there are more than 1 thousand these events in the file.

The model code I used is [plugin example resnet50](https://github.com/pytorch/kineto/blob/master/tb_plugin/examples/resnet50_profiler_api.py), a

[2021-03-11 07:08] skyline75489 opened #115 "Build failure on Ubuntu 16.04"
### Log

[code]

### Environment

Collecting environment information...
PyTorch version: 1.9.0a0+gitebfa927
Is debug build: False
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/A

OS: Ubuntu 16.04.7 LTS (x86_64)
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.12) 5.4.0 20160609
Clang version: Could not collect
CMake version: version 3.18.2

Python version: 3.7 (64-bit runtime)
Is CUDA av

[2021-03-15 14:50] Antymon opened #120 "Is kineto usable with pytorch 1.8?"
Hi, I have noticed `use_kineto` argument in `torch.autograd.profiler.profile`’s signature (PyTorch 1.8) but not in docs you point to in the main readme (i.e., https://pytorch.org/docs/master/profiler.html) which make no mention of kineto [anymore]. Therefore the question from the title - is kineto project still alive and usable with PyTorch 1.8?

If affirmative, are there any additional installs r

[2021-03-15 23:55] #105 closed

[2021-03-15 23:56] #104 closed

[2021-03-15 23:59] gdankel commented on #115
It appears the version without string is only supported in C++17 and up.

[2021-03-16 00:05] gdankel commented on #109
Usually GPU events corresponding CPU events but with timestamps before the CPU events will be filtered out. This won't fix it the way we want since the GPU events will still be missing, but it will at least avoid this situation with GPU events years in the past.

[2021-03-16 00:07] #80 closed

[2021-03-16 00:15] skyline75489 commented on #115
OK that makes sense.

But PyTorch supports C++14, though, I assume kineto would also support C++14.

[2021-03-16 19:48] stalagmite7 commented on #115
I am facing the same issue trying to build pytorch from source on a 16.04 docker; any clues on what I must do differently? Using commit cb6b656 from Feb 26, 2021

[2021-03-16 20:19] gdankel commented on #115
The current committed code needs C++17 to compile, which was not the intent.

A quick fix is to simply add an empty string as a second argument to the static_assert in third_party/kineto/libkineto/src/cupti_strings.cpp, or just remove the static_assert entirely.

Fix is on its way.

[2021-03-19 04:36] nbcsm opened #125 "In plugin Overall View, chart does not resize with size of browser window"
Start tensorboard with non-max browser Window, then maximize browser Window.
In Overall View, charts stay small.

![image](https://user-images.githubusercontent.com/32868157/111732086-c7f04a00-88af-11eb-85a6-aea7bb6107eb.png)

[2021-03-19 08:20] Antymon commented on #120
I have noticed that as long as a data loader ends up within [profiler context and `use_kineto`](https://colab.research.google.com/drive/1gCH1DrM1xRlYUtUPdJlKTmYOG1CpTZkH#scrollTo=_zo7T8avJhAP&line=10&uniqifier=1) this results in 100% repro crashes. Also not sure how does one emit the actual profiling logs when it kineto does not crash?
[code]

[2021-03-22 15:51] Antymon opened #126 "Profiler gets stuck on trace handling for a toy training loop"
**Basic setup info**
[code]

**Description**
Hi, I tried to export profiler trace for 1 epoch of training for a tutorial toy problem with examples of your new profiler API. Unfortunately, whenever training finishes and trace handling is called either via profiler or manually it gets stuck indefinitely, never outputting anything. I observed that from the moment of entering the trace handler RAM con

[2021-03-22 15:51] Antymon commented on #120
Created more specific issue https://github.com/pytorch/kineto/issues/126

[2021-03-22 15:51] #120 closed

[2021-03-22 16:30] ilia-cher commented on #126
will comment more today, but from the code provided - the API is not used in the right way, you shouldn't call tensorboard_trace_handler directly, and, at the very least, it shouldn't be called from within an active context manager

[2021-03-22 17:05] ilia-cher commented on #126
Hi, thanks for using the new profiler, we added an experimental support for it in 1.8 and plan to stabilize and make it default in 1.9.
We'll make sure to add more to the existing tutorials on the new API. In the meanwhile,
- in your case `tb_handler(p)` should be called after profiler context manager is finished
- since you're not using `schedule` parameter, there's no need to do `p.step()`, prof

[2021-03-22 17:23] Antymon commented on #126
Thank you for your reply @ilia-cher !

So I understand it is okay to call `tb_handler_manually`. I extrapolated this use pattern from how `p.key_averages()` was used in[ docs examples](https://pytorch.org/docs/master/profiler.html#api-reference). As for why I believed it is okay to call it from within context - I must have confused the formatting.

As for the core of my problem, at the high level

[2021-03-24 00:22] gdankel commented on #85
This is on our todo list. Will update with ETA later.

[2021-03-24 00:23] gdankel commented on #109
@gaoteng-git Do you still see this in 1.8.1?

[2021-03-24 00:24] #115 closed

[2021-03-24 16:56] lenisha opened #130 "Profiler plugin does not refresh traces"
Running training multiple times generates more traces, but refresh button does not re-scan the log directory and does not show new traces

![image](https://user-images.githubusercontent.com/6332907/112351299-25b1d700-8ca0-11eb-89fd-96def7d80bef.png)

[2021-03-25 07:16] gaoteng-git commented on #109
No. Thx!

[2021-03-25 07:16] #109 closed

[2021-03-25 08:33] gaoteng-git opened #136 "Kernels overlap in the same CUDA stream"
Sometimes(this rarely happens), open this json file from "chrome://tracing", we can see the "stream 7" has 2 lines and there is a small triangle in front of it.
I find it is caused by a very very thin kernel with "dur" 0. This kernel is overlapped with another event. Then 2 lines are shown in stream7.
![image](https://user-images.githubusercontent.com/10429114/112442705-19547980-8d87-11eb-9366-cc8

[2021-03-25 10:00] #136 closed

[2021-03-26 20:48] lenisha opened #142 "Profiler plugin arrow navigation in VSCode"
When TensorBoard with Profiler plugin is opened in VSCode key navigation with arrows does not work, while it is working in regular browser

[2021-03-31 07:44] Kingwl commented on #130
https://github.com/tensorflow/tensorboard/issues/4829

[2021-04-08 08:14] guotuofeng opened #148 "[Task]: Trace torch.nn.DistributedDataParallel and torch.nn.DataParallel forward"

[2021-04-08 08:15] guotuofeng commented on #148
https://github.com/pytorch/pytorch/pull/55578

[2021-04-08 08:16] guotuofeng opened #149 "[Task] Enhance c10d profiling to capture more information, e.g. tensor dtype"
https://github.com/pytorch/pytorch/pull/55358

[2021-04-08 08:18] guotuofeng opened #150 "[Task] VSCode integration"
https://github.com/pytorch/kineto/pull/147

[2021-04-08 08:18] guotuofeng opened #151 "[Task] Distributed training"

[2021-04-08 08:19] guotuofeng opened #152 "[Task] Capture GPU/SM utilization and occupancy: Top level and on timeline"

[2021-04-08 08:19] guotuofeng opened #153 "[Task] Additional Recommendations: 1) Long idle period 2) Frequent CPU-GPU interactions"

[2021-04-08 08:20] guotuofeng opened #154 "[Task] TensorCore"

[2021-04-08 08:21] guotuofeng opened #155 "[Task] Capture device memory related metadata and export to chrome trace"

[2021-04-08 08:22] guotuofeng opened #156 "[Task] Multiple tracing files support"

[2021-04-08 08:23] guotuofeng opened #157 "[Task] GPU Utilization"

[2021-04-08 08:23] guotuofeng opened #158 "[Task] Memory View"

[2021-04-08 08:25] guotuofeng opened #159 "[Task] Module view"

[2021-04-08 08:27] #125 closed

[2021-04-11 01:25] qshzh commented on #148
Thanks for this amazing tool.

I am interested in profiling my training with orch.nn.DistributedDataParallel. Does the profiler support ddp? It seems there are no [related tests](https://github.com/pytorch/pytorch/blob/84a7ab250bd1db6ff72d8b0e01f046e9955da65f/test/test_profiler.py#L152).

[2021-04-11 07:27] nbcsm commented on #148
Currently, you may turn on profiling for each worker in DDP, and export all profiling results to the same folder.
Then you can select each worker here:
![image](https://user-images.githubusercontent.com/32868157/114295837-4a001700-9ada-11eb-8a82-f1b1a732ce42.png)

But right now, there is no _special support_ for DDP yet.
We will add Distributed Training View for DDP in next release, which is desig

[2021-04-13 05:37] gaoteng-git commented on #142
The keyboard arrow works when navigation on right content side. But it can't work on left panel checkbox when navigation up and down when launched in VSCode.
![image](https://user-images.githubusercontent.com/10429114/114501834-51036280-9c5d-11eb-98e0-3f6a5223226c.png)

[2021-04-13 06:12] gaoteng-git opened #161 "Negative number in input textbox"
In Operator view, now user can input negative number into the "Top kernels to show". This should be forbidden.
The way to reproduce it:
1. Mouse move to head of the number, click.
2. Input the negative character "-", press enter key.

![image](https://user-images.githubusercontent.com/10429114/114505021-5616e080-9c62-11eb-944d-6c3187c8f159.png)

![image](https://user-images.githubusercontent.com/1

[2021-04-13 07:17] gaoteng-git opened #162 "Page scroll up"
Scroll the page down:
![image](https://user-images.githubusercontent.com/10429114/114506174-ffaaa180-9c63-11eb-9bac-abb5e0f5cd4f.png)

Input a string into "Search by Name" and press enter:
![image](https://user-images.githubusercontent.com/10429114/114511052-fde3dc80-9c69-11eb-8320-ee43644c73c9.png)

The page is automatically scrolled up. It is not a good user experience which makes user lose focu

[2021-04-13 07:40] 1013801464 opened #163 "Why the time range of events are strange?"
I'm sorry I probably shouldn't ask questions here, but I have tried to ask questions on stackoverflow and pytoch forums, and no one responded.

My problem is that the timestamp of the events reported by the pytorch profiler is strange.

[code]

The output is as follows:

[code]

My question is why the time of the event is so different from the time of the two clocks. The result I hope is that all

[2021-04-15 00:14] TomWildenhain-Microsoft commented on #161
@gaoteng-git check if #168 does what you want.  Users can enter any valid number, but invalid inputs will make the field turn red and be ignored.  This is useful since some values (empty string) may themselves be invalid but useful intermediate steps for entering a valid entry (it is annoying to have it constantly replace empty string with 0 as it does now).

The prohibition of entering non-numeri

[2021-04-15 03:13] Kingwl commented on #130
Latest tensorboard has support refresh now. https://github.com/tensorflow/tensorboard/issues/4829#issuecomment-819917959

[2021-04-15 05:49] guotuofeng opened #169 "warnings in profiler console output"
There is some warning from “security_validator.py” repeatedly appearing in the logs of tensorboard:
W0303 12:02:32.939834 139855689737984 security_validator.py:51] In 3.0, this warning will become an error
X-Content-Type-Options is required to be "nosniff"

[2021-04-15 07:40] 1013801464 commented on #163
I have found the reason.

[2021-04-15 07:40] #163 closed

[2021-04-19 09:54] guotuofeng opened #174 "[Document] Profiler API Documentation"
Update API Documentation https://pytorch.org/docs/stable/profiler.html

Feedback from Users:

- Document difference between “wait” and “warmup” parameters in profiler schedule. Will be great if their meaning can be clarified in the documentation.

- Explicitly state in the PyTorch docs that additional plugin needs to be installed to leverage tensorboard. You have the link to github, where it’s cle

[2021-04-19 16:02] saar-eliad opened #175 "Show scopes for operations"
Hi,
A key feature we are looking but is currently missing is showing scopes for operations  (like the tensorflow profiler).

Example:
[code]
vs.
[code]
And we want the 2nd option.
(with the 2nd option, getting combined statistics for all occurrences of `empty_` could be done by grouping)

According to the [Pytorch API](https://pytorch.org/docs/stable/profiler.html#torch.profiler.profile), using `w

[2021-04-19 23:44] nbcsm commented on #175
Thanks for the feedback.
We will take this into consideration for future releases.
@ilia-cher for awareness.

[2021-04-20 05:03] chauhang opened #177 "Add support for saving chrome trace files to s3 urls"
Add support for saving the generated chrome trace files to s3 URLs. This works for Tensorboard SummaryWriter but is not supported for the Profiler traces.

**Current Behavior**
`on_trace_ready=torch.profiler.tensorboard_trace_handler('s3://tb-demo/pytorch/')
`

Creates local files like:
[code]

**Expected Behavior**
The chrome trace files should be saved in the S3 bucket

[2021-04-20 05:18] chauhang opened #178 "Add support for visualizing chrome trace files in tb_plugin from S3 URLs"
For chrome trace files in S3 bucket, the tb_plugin UI gets stuck in spinning wheel to load the files and nothing gets displayed. Add support for visualizing the traces from S3 URLs for the Profiler plugin, similar to how one can view the main tensorboard runs in the rest of the tensorboard UI.

[2021-04-20 12:08] guotuofeng commented on #148
https://github.com/pytorch/pytorch/pull/55578

[2021-04-20 12:09] #148 closed

[2021-04-20 12:10] guotuofeng commented on #149
https://github.com/pytorch/pytorch/pull/55358

[2021-04-20 22:18] chokkyvista opened #179 "Loader doesn't correctly parse trace filename when repeat>1"
https://github.com/pytorch/pytorch/blob/7d4e9bdba144e162882fb854324430c4b92fb267/torch/profiler/profiler.py#L75
Here's how `tensorboard_trace_handler` decides the filename
[code]
And here's how the loader parses it
https://github.com/pytorch/kineto/blob/b4e71c3a9e11814bcbb2fb44bfb8bd7d2908b77f/tb_plugin/torch_tb_profiler/profiler/loader.py#L43

When `repeat > 1`, there will be multiple trace files

[2021-04-21 00:15] guotuofeng commented on #179
From the time being, only one trace file is supported and the multiple file support would be in next release.

[2021-04-21 01:26] guotuofeng commented on #178
duplicated item with https://github.com/pytorch/kineto/issues/177

[2021-04-21 01:26] #178 closed

[2021-04-21 01:27] guotuofeng opened #180 "[Task]: support gzip for chrome tracing file"
Support  export chrome tracing file in gzip format to reduce file size

[2021-04-21 01:27] guotuofeng commented on #180
https://github.com/pytorch/pytorch/pull/56554

[2021-04-21 06:41] chiragbajaj25 opened #181 "PYTORCH_PROFILER tab is not getting rendered automatically is JupyterHub's Tensorboard"
The .json files are being saved by profiler at the logdir, but when I try to open tensorboard from jupterhub, the pytorch_profiler tab doesn't seem to be rendered automatically. All the dependencies as mentioned in README are present in the hub environment.

[2021-04-21 23:58] #149 closed

[2021-04-22 00:44] TomWildenhain-Microsoft commented on #162
The scrolling is caused by the table redraw.  When the table is deleted, the page scrolls up.  As long as this doesn't bring us to the very top of the page, Chrome scrolls back down when the table is re-added, but on the Kernels page it is too short so it gets stuck at the top and doesn't go back.  Probably the best solution would be hooking the table redraw to add a placeholder box while drawing

[2021-04-22 02:38] guotuofeng commented on #177
https://github.com/pytorch/kineto/pull/182/

[2021-04-22 03:17] #169 closed

[2021-04-22 03:56] nbcsm commented on #179
https://github.com/pytorch/kineto/issues/156

[2021-04-22 04:14] guotuofeng commented on #181
Hi, @chiragbajaj25 , what's error you hit? I try in windows to load our plugin in jupyterlab, it can load succesfully.

[2021-04-26 08:22] #161 closed

[2021-04-26 18:43] lenisha opened #186 "Profiler Tutorials update"
Current tutorials point to autograd and need to be updated with new Profiler:

https://pytorch.org/tutorials/recipes/recipes/profiler_recipe.html
https://pytorch.org/tutorials/beginner/profiler.html

Similar Item: https://github.com/pytorch/tutorials/issues/1451

[2021-04-26 18:45] lenisha opened #187 "security warning in tensorboard"
There is some warning from “security_validator.py” repeatedly appearing in the logs of tensorboard:
[code]

[2021-04-26 18:47] lenisha opened #188 "Separate traces for training and validation steps"
Our code is structured in such a way that inside the main training loop, we will sometimes run validation as well. Ideally, it should be logged separately from training. Is there any functionality to support this?
E.g. similar to what this issue is asking for: https://github.com/pytorch/kineto/issues/86,

but ideally we should be able to span a second instance of profiler (or provide some metadata

[2021-04-27 00:18] guotuofeng commented on #187
duplicated with https://github.com/pytorch/kineto/issues/169

[2021-04-27 00:18] #187 closed

[2021-04-27 00:57] TomWildenhain-Microsoft opened #189 "Tensorboard hangs in VS code"
VScode opens tensorboard but hangs forever (displaying a spinner).  The same happens in the browser but is resolved on refreshing the page.  The cause appear to be a race between tensorboard loading/finding the trace files and the web page opening.  Since VScode loads the frame at the same time as starting tensorboard and there is no refresh for the frame in VSCode, there's no easy way for the use

[2021-04-28 00:18] guotuofeng opened #190 "Profiler issue for our Cloud Advocates notebook related to multiple file workers."
Cloud advocates team is working on the demo for Build and is looking to include profiler part in the demo.
Walked them thru setup, API etc but we see a weird behaviour, here is notebook and training loop:
[tlaloc/explore.ipynb at main · sethjuarez/tlaloc (github.com) ](https://github.com/sethjuarez/tlaloc/blob/main/notebooks/explore.ipynb)(cell 21)

When running we see profiler generates two trace

[2021-04-28 03:39] guotuofeng commented on #156
https://github.com/pytorch/kineto/issues/190

[2021-04-28 04:03] #162 closed

[2021-04-28 04:03] gaoteng-git commented on #162
Solved by PR https://github.com/pytorch/kineto/pull/183

[2021-04-29 03:17] lenisha opened #194 "Plugin fails to load traces"
Running BERT training:
``` python /home/azureuser/pyprofiler/bert_for_sequence_classification.py --train-steps 64 --epochs 2 --pytorch-only```

https://github.com/lenisha/pyprofiler/blob/main/bert_for_sequence_classification.py

and producing following trace:
https://github.com/lenisha/pyprofiler/blob/main/trace/bert_record_nt/worker0.pt.trace.json

Plugin does not load the trace , just showing sp

[2021-04-29 06:08] gaoteng-git opened #195 "logdir path can't support "~" as path prefix"

[2021-04-29 06:13] guotuofeng opened #196 "Add documentation for cloud storage support"

[2021-04-29 06:14] guotuofeng commented on #177
Add documentation work item: https://github.com/pytorch/kineto/issues/196

[2021-04-29 06:16] #180 closed

[2021-04-29 06:28] guotuofeng opened #197 "Add Google Cloud support for tb_plugin"

[2021-04-29 08:39] gaoteng-git opened #198 "blog variable name error"
Should change to "with_stack".
https://pytorch.org/blog/introducing-pytorch-profiler-the-new-and-improved-performance-tool/
![image](https://user-images.githubusercontent.com/10429114/116523987-6dfc8e80-a909-11eb-8eb6-d964a251b808.png)

[2021-04-30 07:05] #189 closed

[2021-04-30 07:07] guotuofeng commented on #194
should related to https://github.com/pytorch/kineto/issues/189

[2021-04-30 07:12] guotuofeng commented on #195
Should be fixed in https://github.com/pytorch/kineto/pull/182

[2021-04-30 07:15] guotuofeng commented on #181
Is it like issue https://github.com/pytorch/kineto/issues/194?

[2021-05-04 00:23] msaroufim opened #203 "Torch-tb-profiler on Conda"
https://anaconda.org/search?q=torch-tb-profiler doesn't return anything

[2021-05-05 09:13] nbcsm commented on #203
Thanks for the feedback.
Yes, we didn't publish torch-tb-profiler package to conda yet.

We are considering to support conda, but not sure whether there are real needs from community.
May I know more about your scenario please?

[2021-05-06 16:05] gdankel commented on #188
OK let's discuss how we can do this - so a common use case is to capture X iterations of training and X (or Y) iterations of validation, usually once, possibly periodically every Z iterations?

[2021-05-11 08:12] chauhang opened #212 "Automated script for generating the plugin wheel file"
Create the build script for generating the profiler plugin wheel files. Needed for publishing the binary release

[2021-05-11 08:42] #197 closed

[2021-05-11 11:28] guotuofeng opened #214 "Support custom path prefix for tb_plugin"
From the time being, the tb_plugin URL is something like "http://localhost:8080/data/plugin/pytorch_profiler/runs".

Kuberflow need some path_prefix to make sure the request to http://localhost:8080/pipeline/apis/v1beta1/_proxy/viewer-c5523e8aeb58c801f1b64a702[…]0/tensorboard/viewer-c5523e8aeb58c801f1b64a702367658debe6d402 to right route.

[2021-05-12 08:48] #214 closed

[2021-05-13 00:31] guotuofeng opened #222 "update yarn.lock to fix security issue."
GitHub has detected that a package defined in the tb_plugin/fe/yarn.lock file of the pytorch/kineto repository contains a security vulnerability.
Package name: postcss
Affected versions: >= 7.0.0, < 8.2.10
Fixed in version: 8.2.10
Severity: MODERATE
Identifier(s):
GHSA-hwj9-h5mp-3pm3
CVE-2021-23368
Reference(s):
https://nvd.nist.gov/vuln/detail/CVE-2021-23368
https://github.com/advisories/GHSA-hwj

[2021-05-13 00:57] #212 closed

[2021-05-13 03:19] #222 closed

[2021-05-18 07:52] guotuofeng opened #232 "AttributeError: 'NoneType' object has no attribute 'overview'"
AttributeError: 'NoneType' object has no attribute 'overview' is raised when switching logdir at tensorboard startup

Repro step:
1. start tensorboard using command line:  tensorboard --logdir=./bug_repro/version_1 --bind_all
2. open the url reported in command line.
3. ctrl+c to terminate the tensorboard process and keep the browser open
4. start another tensorboard process: tensorboard --logdir=

[2021-05-18 12:50] guyang3532 commented on #232
fix at https://github.com/pytorch/kineto/pull/233

[2021-05-24 00:01] #232 closed

[2021-05-31 12:09] #194 closed

[2021-05-31 12:09] #181 closed

[2021-05-31 12:12] guotuofeng commented on #150
https://github.com/pytorch/kineto/pull/170

[2021-05-31 12:12] #150 closed

[2021-05-31 12:13] guotuofeng commented on #151
https://github.com/pytorch/kineto/pull/200

[2021-05-31 12:13] guotuofeng commented on #151
https://github.com/pytorch/kineto/pull/248

[2021-05-31 12:14] #151 closed

[2021-05-31 12:14] guotuofeng commented on #158
https://github.com/pytorch/kineto/pull/253

[2021-05-31 12:14] guotuofeng commented on #158
https://github.com/pytorch/kineto/pull/252

[2021-05-31 12:16] guotuofeng commented on #152
https://github.com/pytorch/kineto/pull/160

[2021-05-31 12:18] guotuofeng commented on #152
https://github.com/pytorch/kineto/pull/221

[2021-05-31 12:19] guotuofeng commented on #152
https://github.com/pytorch/kineto/pull/235

[2021-05-31 12:19] guotuofeng commented on #152
https://github.com/pytorch/kineto/pull/241

[2021-05-31 12:20] #152 closed

[2021-05-31 12:20] #155 closed

[2021-05-31 12:21] guotuofeng commented on #157
https://github.com/pytorch/kineto/pull/221

[2021-05-31 12:21] #157 closed

[2021-06-03 00:52] Reubend opened #269 "Parsing Errors from Example"
I have been following the [tutorial for using the PyTorch profiler](https://pytorch.org/tutorials/intermediate/tensorboard_profiler_tutorial.html), and I've already logged the data to a local directory. I made some minor modifications to the code (exact code below in a comment) but nothing which should affect the profiler's accuracy.

When I run the TB plugin for this directory, I get hundreds of

[2021-06-03 01:01] Reubend opened #270 "No Empty State for TB Plugin"
If you load the TB plugin on a log directory that _**does not**_ have any traces inside, it will display a loading spinner endlessly. I think there should be a message saying that no traces were loaded; other plugins (like the graph plugin, hparams plugin, images plugin, etc.) behave by displaying such a message.

Expected behavior:
the TB plugin should say that no traces were found
Actual behavio

[2021-06-03 01:30] Reubend commented on #269
Additional info to help with debugging: I changed the example code in two ways. I disabled GPU training, and reduced the number of training steps. Here's the exact code I ran:
[code]

[2021-06-03 05:59] gaoteng-git commented on #269
I haven't reproduced this problem running your code. Would you please share your json file to me? My email is tegao@microsoft.com
And also it's better to share your configuration which is got by "python -m torch.utils.collect_env".

[2021-06-03 06:00] gaoteng-git commented on #269
I haven't reproduced this problem running your code. Would you please share your json file to me? My email is tegao@microsoft.com
And also it's better to share your configuration which is got by "python -m torch.utils.collect_env".

[2021-06-03 07:27] #156 closed

[2021-06-03 07:27] #179 closed

[2021-06-03 16:14] Reubend commented on #269
Thanks @gaoteng-git I've emailed you the trace files which were generated.

As for the environment info, I don't think this will be too helpful as I'm running this inside of a fairly locked down environment:
[code]

But I'm happy to get the additional info manually if you need. I'm using the 0.1.0 version of `torch-tb-profiler`.

[2021-06-04 02:53] gaoteng-git commented on #269
@Reubend Thanks! I checked your json file, and these warnings are caused by overlapped operators, which is not expected behavior.
@gdankel It seems kineto or pytorch profiler's problem. Would you please have a look?

[2021-06-09 12:09] kjnm opened #280 "PyTorch Profiler Kineto is not available - windows OS"
Hello!
I want to use PyTorch profiler as in this example:

https://pytorch.org/blog/introducing-pytorch-profiler-the-new-and-improved-performance-tool/

But I get error:

AssertionError: Requested Kineto profiling but Kineto is not available, make sure PyTorch is built with USE_KINETO=1

I instaled PyTorch by command:
pip install torch==1.8.1+cu111 torchvision==0.9.1+cu111 torchaudio===0.8.1 -f ht

[2021-06-10 00:58] ilia-cher commented on #280
Hi, thanks for the report - we're planning to release PyTorch 1.9 this week with expanded platform support for the new profiler, including support for Windows - please try 1.9 or, alternatively, you could build PT from the source or use the nightly packages.

[2021-06-10 07:36] nbcsm commented on #196
I suggest to further refine the doc here.
![image](https://user-images.githubusercontent.com/32868157/121483729-1ae62300-ca01-11eb-9900-140e96525d47.png)

Should highlight more on which package should be installed for each cloud provider.

[2021-06-10 07:39] nbcsm opened #286 "error message is not quite clear when required cloud storage package is not installed"
I tried to open a azure blob file without azure-storage-blob installed.
The error is: `ValueError: No recognized filesystem for prefix https`

Should be more user friendly, e.g. "Please run pip install azure-storage-blob"

[2021-06-10 08:29] #190 closed

[2021-06-10 08:41] #158 closed

[2021-06-10 08:57] gaoteng-git commented on #142
Works when re-tried.

[2021-06-10 08:57] #142 closed

[2021-06-10 09:13] gaoteng-git commented on #175
@saar-eliad Our latest [tensorboard plugin](https://github.com/pytorch/kineto/tree/plugin/0.2/tb_plugin) support grouping-by operators with same call-stacks as key.
![image](https://user-images.githubusercontent.com/10429114/121498574-204a6a00-ca0f-11eb-9e7c-b2931e15a779.png)

[2021-06-10 19:58] ilia-cher commented on #175
@bitfort Victor, I think that work on surfacing layer names could help here

[2021-06-15 01:33] adamjstewart opened #292 "Is it possible to build with an already-installed fmt?"
I'm writing a [Spack](https://spack.io) package for kineto. Is it possible to use already-installed copies of fmt? I try to avoid relying on git submodules, especially when using a package manager.

P.S. Would anyone like to be listed as the official maintainer for the kineto package? You don't need to know much about Spack, it just gives us someone to ping when a user reports build issues or want

[2021-06-16 17:59] tchaton opened #299 "VSCode + TensorBoard: TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'"
Dear people from Kineto Team,

I have generated traces using PyTorch Lightning Kineto Integration, moved them to another machine using scp and tried to open them inside a my local VSCode + TensorBoard and got this error.

[code]

[2021-06-17 01:21] gaoteng-git commented on #299
For re-creating the bug, would you mind sending your traces json file to me? My email: tegao@microsoft.com

[2021-06-17 02:30] stas00 opened #300 "pytorch tutorial results in failing torch_tb_profiler"
I tried to replicate: https://pytorch.org/tutorials/intermediate/tensorboard_profiler_tutorial.html

when the log is generated and I try to load it, I get:

[code]

I tried with the released version and the master torch_tb_profiler with the same results.

[code]

I also tried to downgrade `tensorboard` but the error is the same.

The provided samples work w/o problems:
[code]

So basically the pro

[2021-06-17 02:56] stas00 commented on #300
Since the provided samples worked correctly, most likely this is a bug in pytorch - filed an issue there https://github.com/pytorch/pytorch/issues/60145

[2021-06-17 03:07] stas00 commented on #300
[code]
should this be written "efficiency"? as compared to `efficency`

[2021-06-17 09:01] gaoteng-git commented on #299
@tchaton Fixed in this PR: [](https://github.com/pytorch/kineto/pull/305)
You can install from source code of [plugin/0.2](https://github.com/pytorch/kineto/tree/plugin/0.2) branch, and try it again. We'll pack up latest updates together and update pypi later on. Thanks!

[2021-06-17 10:02] cloudhan commented on #292
It seems to be possible, see https://github.com/pytorch/pytorch/blob/eb36f67dcc7000caa58fa4dfa9c089ce17c6d523/cmake/Dependencies.cmake#L1816
and https://github.com/pytorch/pytorch/blob/eb36f67dcc7000caa58fa4dfa9c089ce17c6d523/cmake/Dependencies.cmake#L1910

From the logic of https://github.com/pytorch/kineto/blob/d251e27882b77ec4625d962e64ff6b4fcfc9beb1/libkineto/CMakeLists.txt#L88-L92, you could

[2021-06-17 12:08] gaoteng-git commented on #300
Thank you! Fixed: https://github.com/pytorch/kineto/pull/307

[2021-06-17 12:57] adamjstewart commented on #292
I assumed `FMT_SOURCE_DIR` had to be the source code. Can it point to a compiled installation prefix?

[2021-06-17 13:45] nasretdinovr opened #308 "Speed of profiling"
It takes about 30min to 1 hour to profile my network (transformer-like architecture, about 20 million parameters). Is it normal or I do something wrong?

[2021-06-17 16:19] cloudhan commented on #292
I'm not quite sure about it. If `find_package(fmt REQUIRED)` succeed, then a `fmt` target should be defined. In this case, the whole `if(NOT TARGET fmt)` branch will be disabled. Then `FMT_SOURCE_DIR` will only be used in
[code]
to initialize include dir.

[2021-06-17 16:29] stas00 commented on #300
I confirm that https://github.com/pytorch/kineto/pull/305 fixed it - thank you for the quick fix, @gaoteng-git!

[2021-06-17 16:29] #300 closed

[2021-06-17 16:30] adamjstewart commented on #292
It looks like it doesn't work. `FMT_SOURCE_DIR` must contain a `CMakeLists.txt` file, so it can't be the installation prefix.

P.S. Love the Ghost in the Shell profile pic!

[2021-06-17 18:56] liuyibox opened #310 "Difference between 2 namespaces: libkineto and KINETO_NAMESPACE"
Hi I'm wondering if there is any story behind these 2 namespace names? Are these 2 namespaces covering 2 different code scopes or serving different purposes?

I see many places they are using each other, this makes me confused about the design logic of the 2 namespaces. For example, in "src/CuptiActivity.h", KINETO_NAMESPACE is `using namespace libkineto`, whereas in "src/output_base.h", libkineto

[2021-06-18 00:13] liuyibox opened #311 "Why is there a .tpp file in libkineto?"
In the src directory, there is a .tpp file, should this be a cpp file instead? I'm wondering if I just modify the suffix, will this make any difference? How does libkineto compile the tpp file?

[2021-06-18 00:20] gaoteng-git commented on #308
@nasretdinovr How many steps do you profile? What's the arguments of torch.profiler.profile? Would you please share your profiling code here?

[2021-06-18 06:18] #299 closed

[2021-06-18 06:19] #198 closed

[2021-06-18 20:29] msaroufim opened #313 "Torch Profiler only showing one thread on CPU"
## Context
I was trying to figure out how come in Pytorch if you set `torch.set_num_threads(1)` it increases performance drastically so I figured I'd use the torch profiler to debug what those extra threads were doing so I wrote a toy script with `torch.set_num_threads(32)` to debug

## Expected behavior
See 32 threads shown in the trace view profiler when profiling on CPU instead of just 1

## Re

[2021-06-19 05:43] xilin1991 commented on #270
I also encountered the same problem。

[2021-06-19 05:54] xilin1991 commented on #270
I solved this problem in my environment. You can uninstall 'torch-tb-profiler' in your virtual environment(such as anaconda).

[2021-06-19 15:39] Reubend commented on #270
Maybe I don't understand fully, but I don't want to uninstall it. I just want it to show an empty state message when there are no traces found.

[2021-06-20 04:52] nasretdinovr commented on #308
@gaoteng-git I took the code from ResNet example in PyTorch doc and adapted it for my network. To profile ResNet it takes about 5 min.

[code]

[2021-06-20 05:30] gaoteng-git commented on #308
@nasretdinovr You could try disable "profile_memory" by setting it to False or just removing it.
The current PyTorch profiler's memory events handling is low efficient and very slow. We will contact Facebook to optimize it.

[2021-06-20 08:19] nasretdinovr commented on #308
@gaoteng-git Disabling "profile_memory" really helped! Thank you a lot!

[2021-06-20 09:02] tefantasy opened #317 "Is it possible to obtain references of executed pytorch operation functions in profiler's logic?"
Hello,

I am developing an application based on pytorch. One essential step is to get the execution order of operations when backward propagation is performed, particularly for multi-device scenarios (i.e., model parallelism) since we observed this order could be non-deterministic.

The visualized results produced by pytorch profiler appeals to me since it clearly shows the timing (and operation n

[2021-06-20 13:00] gaoteng-git commented on #317
@tefantasy Do you mean finding each backward-op's corresponding forward-op?
I proposed this idea previously, but not sure how strong this requirement is in the community.
https://github.com/guyang3532/pytorch_profiler/issues/12

[2021-06-20 14:04] gaoteng-git commented on #159
Requirement from community: https://github.com/pytorch/kineto/issues/175

[2021-06-21 13:23] tefantasy commented on #317
@gaoteng-git Many thanks for your reply. What I want is to correlate operators in backward pass (like AddmmBackward) with python side function or Module.

The method you mentioned (correlate backward-op with forward-op, and then forward-op with python side Module) seems to be a possible way for now. I will explore more on it.

[2021-06-21 14:23] xilin1991 commented on #270
Do you want to see the results of the model in Tensorboard dashboard?
Tensorboard can work even after uninstalling 'torch-tb-profiler' in my environment.
During this process, there will be a warning in the following picture.
![warning](data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAdMAAAByCAYAAAAIyTtSAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAABbfSURBVHhe7Z1tqxzHlcf3S6wXsg

[2021-06-21 14:28] xilin1991 commented on #270
Do you want to see the results of the model in Tensorboard dashboard?
Tensorboard can work even after uninstalling 'torch-tb-profiler' in my environment.
During this process, there will be a warning in the following picture.
![1](https://user-images.githubusercontent.com/31728595/122778853-ee26eb00-d2df-11eb-8aec-c3ec27f83137.png)
Choose option 'no'.

[2021-06-22 05:46] guotuofeng commented on #270
@Reubend, this is a known issue and we will prioritize it and fix it in future

[2021-06-22 07:39] TianhaoFu opened #318 "support of torch.cuda.nvtx.range_push() & torch.cuda.profiler.start()"
Hi,

In pytorch 1.7 torch.autograd.profiler, we can insert NVTX marker through torch.cuda.nvtx.range_push().

Can torch.profiler also do that?

Thanks!

[2021-06-22 07:44] TianhaoFu commented on #80
Hi, did you work? what's your version of torch.

[2021-06-22 07:46] cloudhan commented on #318
I have (informally) proposed it internally in Microsoft and we are going to discuss it with Facebook latter.

I'd like to add range/zone marker, via `push` and `pop`. And optionally get rid of context manager to avoid messing around with user code, that is, context manager inevitably introduce another level indention into user code.

[2021-06-22 08:04] guotuofeng commented on #308
@gdankel, do we need remove the legacy events from kineto events? https://github.com/pytorch/pytorch/blob/master/torch/csrc/autograd/profiler_kineto.cpp#L130

[2021-06-24 05:25] guotuofeng commented on #313
@msaroufim, would you please help clarify how you run the profile? The Thread.py in your link seems have wrong step number?

![image](https://user-images.githubusercontent.com/817030/123207193-95c63800-d4ef-11eb-8b2d-8f1f653c9311.png)

What's the steps that you used to repro this issue?

[2021-06-24 05:28] cloudhan commented on #313
Your Expected behavior is wrong.

From https://pytorch.org/docs/stable/generated/torch.set_num_threads.html

This is, those 32 threads are for threadpool, used for `parallel_for` or something the like. The trace is simply the op dispatching trace, and they are indeed single threaded: all op dispatching are driven by python.

[2021-06-24 08:00] BruceDai003 opened #321 "Seems like with tensorboard 1.15, there will be an ImportError: cannot import name 'errors'"
https://github.com/pytorch/kineto/blob/ba8bdffc5e63958d89dfc78e8a671c7504a3593d/tb_plugin/setup.py#L29

I have pre-installed tensorflow 1.15 and tensorboard 1.15. And I just installed torch-tb-profiler=0.2.0.
But when I try to call tensorboard now, I got an error:
[code]
Seems like tensorboard 1.15.0 version doesn't have errors.py module, also I just confirmed this in the tensorboard github repo.

[2021-06-24 12:39] gaoteng-git commented on #313
Right. By default, PyTorch CPU will run OpenMP. The relation is like below.
[code]

For example, we can just simply call "torch.add" inside profiler context manager. Then we can see OpenMP callstack is much deeper than profiler's.

The callstack of profiler:
[code]

The callstack of OpenMP:
`
(gdb) bt
#0  at::parallel_for<at::TensorIteratorBase::for_each(at::TensorIteratorBase::loop2d_t, int64_t):

[2021-06-25 03:00] guotuofeng commented on #321
It is our bug, will fix it.

[2021-06-25 03:31] #311 closed

[2021-06-25 03:31] #310 closed

[2021-06-25 17:51] minhoolee opened #325 "Timing inconsistency with torch.profiler and torch.utils.benchmark"
I'm trying to use torch.profiler to profile the inference time of a trained model. In order to assess the accuracy of torch.profiler, I also profile the inference time using torch.utils.benchmark.

However, the torch.utils.benchmark time is much lower than the reported torch.profiler step time, seemingly due to abnormally high "CPU Exec" time reported with the tensorboard plugin. This torch.utils.

[2021-06-25 18:40] msaroufim commented on #313
@gaoteng-git thank you so much for this nice explanation. The callstack is a such a nice visualization of my issue.

So is not having visibility into what's inside the `parallel_for` a limitation of the Pytorch profiler or would any profiler have the same issue?

Just trying to understand if this is just expected behavior or a good feature request to the Pytorch profiler team

[2021-06-26 03:16] nbcsm commented on #325
`torch.utils.benchmark` just **runs the code as it is**, and measure the e2e latency.
While profiler will collect more performance related metrics/counter/event. The more information profiler collects, higher overhead is added.

could you turn off `with_stack` and `record_shapes` and give another try?
`with_stack` will usually introduce some overhead  , and it is sometimes non-trivial for small wo

[2021-06-26 21:56] minhoolee commented on #325
So would you say that this problem is a result of the profiling overhead? I tried turning off `with_stack` and `record_shapes`, which helps with the toy example but not another model that has additional operators in between the linear layers (the behavior is still consistent with the original toy example). Is this a limitation of torch.profiler overhead on certain models?

[2021-06-26 21:59] minhoolee commented on #325
Unrelated, but I have been noticing a different issue where the first one or two active trials of the same code have inconsistent timings with later trials. The toy example without stack and input shape recording looks like this:

![Screen Shot 2021-06-26 at 2 17 54 PM](https://user-images.githubusercontent.com/10465228/123526749-ce504800-d68e-11eb-8112-637d91be600a.png)

As in the original trace

[2021-06-27 03:08] nbcsm commented on #325
Glad to know disabling `with_stack` helps the toy example.
Do you mind to share the other model so we can dig into it?

[2021-06-27 11:48] gaoteng-git commented on #325
I can't reproduce it. I tried your toy code and run on V100, all steps' time are nearly same.
What GPU card are you using?
Would you also share the screenshot of trace view with all steps?

You can also try more warmup steps and see whether it changes.

BTW, the current step time calculation logic is [here](https://github.com/pytorch/kineto/blob/683604e999009d7460b3210beaffa641af5cea24/tb_plugin/t

[2021-06-27 20:54] minhoolee commented on #325
Sure, I ran the two versions of the toy code again and confirmed that they're reproducible for me with a Telsa T4. I'm running this on an EC2 instance g4dn.4xlarge: https://aws.amazon.com/ec2/instance-types/g4/ (scroll down to chart for details).

Toy example with stack and input shape recording:
![Screen Shot 2021-06-27 at 1 47 49 PM](https://user-images.githubusercontent.com/10465228/123559042-9

[2021-06-27 21:43] minhoolee commented on #325
Unfortunately, I can't share the other model because it's confidential. I'm trying to replicate the profiling issues with the other model with these toy examples. Here is another toy example that experiences the original issue again. This time, I added a GRU layer in between each linear layer. The dimensions and data are once again arbitrary.

[code]
[code]

![Screen Shot 2021-06-27 at 2 41 58 PM]

[2021-06-28 00:18] #321 closed

[2021-06-28 03:33] gaoteng-git commented on #325
@minhoolee I found the "Est. Achieved Occupancy" is negative number. However, I can't reproduce this bug in my side. Would you please share your traced json file to me? Thanks a lot! My email is tegao@microsoft.com

[2021-06-28 05:13] gaoteng-git commented on #325
@minhoolee For the profiler slower than benchmark.timeit, I found it is due to profiler's recording before each op and after each op.
When we set batch size small as 32, most kernels run on GPU quickly finish, and the dominate bottleneck is CPU side's launching ops. And the overhead of instrumenting all ops is relative big.
When we increase batch size bigger to 256, most kernels' execution time on

[2021-06-28 18:18] minhoolee commented on #325
@gaoteng-git Thanks for the in-depth analysis! I suspected that profiling overhead was throttling the GPU, and it's great to see that there is a workaround by increasing the batch size. I sent you the two traces for the timing inconsistency between steps.

[2021-06-28 18:40] minhoolee opened #328 "torch.profiler warmup options and documentation"
I'm using torch.profiler to profile model inference. When I first started using the profiler, I was very confused the overall inference time to be ~20x higher than it should be. At the time, I was manually warming up my model by running the model before profiling. I later discovered that the large initial latency was a result of not warming up through the profiler after looking into the source cod

[2021-06-29 02:21] guotuofeng opened #329 "Add non-context manager support for profile"
Add start/stop in profile class to support non-context manager scenarios.

https://github.com/pytorch/pytorch/issues/60238

[2021-06-29 03:47] gaoteng-git commented on #325
@minhoolee Yes, the profiling overhead is unavoidable for most profilers, especially instrumenting way.
Thank you very much for your trace files! We have identified a bug from it.

[2021-06-29 03:56] gaoteng-git commented on #325
@gdankel Hi, Gisle. I found a bug from minhoolee provided tracing json files.
![image](https://user-images.githubusercontent.com/10429114/123734507-11e5c480-d8d0-11eb-8810-e970ee521073.png)
I suspected that it's due to failure of [getSMCount()](https://github.com/pytorch/kineto/blob/6f9c0eeff519ac7365fec427829404c9741ef391/libkineto/src/CuptiActivityInterface.cpp#L66). It may return "-1", then the

[2021-06-29 06:19] #292 closed

[2021-06-29 06:21] guotuofeng commented on #280
@kjnm, would you please help check whether Kineto in windows supported or not in release 1.9?

[2021-06-29 06:33] guotuofeng commented on #325
@gdankel, it seems that getSMCount return -1 in case of no CUPTI case?

[2021-06-29 07:07] gdankel commented on #325
I see, that would make sense. I'll look into it tomorrow am.

On Mon, Jun 28, 2021 at 11:33 PM Mike Guo ***@***.***> wrote:

--
G

[2021-06-29 14:02] mautier opened #331 "tb_plugin: support symlink trees of run directories like tensorboard"
This is a tracking issue for making the tb_plugin support symlinks like core tensorboard does.

### Context

When looking for run data, tensorboard recursively walks the filesystem, and follows symlinks. Using symlink trees is in fact the recommended way of obtaining fine-grained control over the location of the runs and the name associated with the runs.

From [the tensorboard documentation](http

[2021-06-29 16:27] azhou-determined opened #332 "plan to support GCS cloud storage with auth?"
The current implementation of GCS storage uses an anonymous client without credentials. Is GCS with auth a planned feature improvement?

[2021-06-29 18:14] gdankel commented on #86
I believe this is addressed in PT 1.9 via the new schedule args:
https://pytorch.org/tutorials/recipes/recipes/profiler_recipe.html#using-profiler-to-analyze-long-running-jobs

@tchaton can we close this?

[2021-06-29 18:16] gdankel commented on #126
@Antymon I'm spending some time looking into issues such as yours. Is this still relevant?

[2021-06-29 18:17] gdankel commented on #130
@Kingwl can we close this?

[2021-06-29 18:31] gdankel commented on #174
I think most (all?) of these have been addressed? Can we close? cc @guotuofeng

[2021-06-29 18:32] #186 closed

[2021-06-29 18:32] gdankel commented on #186
Addressed.

[2021-06-29 18:51] minhoolee commented on #328
To elaborate on my question, is there a way to explicitly warm up the profiler, so that I could warm it up during initialization? I would like to be able to use the concise 1 line format of
[code]
without needing to add `torch.profiler.schedule`, a for loop, and `prof.step()`.

It seems like the warmup overhead is from lazy loading CUPTI tracing structures as noted [here](https://github.com/pytorc

[2021-06-29 19:49] gdankel commented on #188
Is this addressed with 1.9 API or do we need additional support?

[2021-06-29 19:53] gdankel commented on #308
Not entirely sure - let's check with @ilia-cher

[2021-06-29 19:59] gdankel commented on #313
@msaroufim That's a good question. So over time the plan is for Kineto to cover more and more components. We are not yet instrumenting any components external to profile (with the exception of Glow) but we have this as a goal. We'll have to justify each case separately however.
A couple of questions:
1) Which events would you like to see from OpenMP?
2) Is there existing tracing functionality that

[2021-06-29 20:00] gdankel commented on #313
Closing issue - we can continue discussion here or elsewhere.

[2021-06-29 20:00] #313 closed

[2021-06-29 20:02] gdankel commented on #317
We did discuss this. @ilia-cher and @ngimel do you recall what we landed on for this?

[2021-06-29 20:04] gdankel commented on #318
Sure, we should definitely continue to support nvtx so that e.g. Nsight Systems. Probably we should make it an activity type?

[2021-06-29 20:13] gdankel commented on #325
Reducing profiler overhead is a focus area for us and also I believe for Nvidia. Cuda 11.3 is meant to improve it on their side and we have ongoing work to improve the PyTorch + Kineto side.

[2021-06-29 20:32] gdankel commented on #325
@guotuofeng It may just be a matter of moving the code outside of the HAS_CUPTI guard, since it doesn't actually depend on CUPTI.

[2021-06-29 20:42] minhoolee commented on #325
Sorry to interject, does the trace indicate that CUPTI is not installed? Is there a way to manually test this?

[2021-06-29 22:28] gdankel commented on #325
@minhoolee I don't think you can get those traces with the legacy profiler fallback, so I am assuming that cupti is enabled. Looking into this.

[2021-06-30 00:12] gdankel commented on #325
The puzzling thing here is that numSms in the deviceProperties entry for device 0 at the top of the file gets the data from the same Cuda API as we're using for the per-kernel stats. And as we can see from the kernel, the kernel's device id is 0.
Either I'm missing something basic or there is some more subtle aspect to this.

[2021-06-30 00:15] gdankel commented on #325
Unless this is on a version that still uses the old version that @guotuofeng pointed to above: https://github.com/pytorch/kineto/blob/master/libkineto/src/CuptiActivityInterface.cpp#L66

In which case we can test by upgrading to latest version. Maybe we need to do a submodule update?

[2021-06-30 00:29] gdankel commented on #325
The use of CUPTI for sm count was removed in commit 39681830745276a893d6b8deb3b2b5adea10c825.
@minhoolee can you check you're on the latest version / 1.9?

[2021-06-30 00:43] minhoolee commented on #325
@gdankel My Kineto is on https://github.com/pytorch/kineto/commit/d51f60717e4eb7746e370cff09fecbc6616be25f (plugin/0.2) and I installed through source. PyTorch is 1.9.0:

[code]

[2021-06-30 03:24] gdankel commented on #325
@minhoolee Should be fine. I'll see if I can repro locally.

[2021-06-30 04:14] gaoteng-git commented on #325
@minhoolee Did you install pytorch1.9.0 through pip or conda?
@gdankel I guess that pytorch1.9.0 package doesn't include your fix, and minhoolee installed PyTorch1.9.0 through package and tensorboard plugin through source.

[2021-06-30 07:20] guotuofeng commented on #325
@gdankel, it seems the PyTorch 1.9.0 use the old logic https://github.com/pytorch/kineto/blob/a631215ac294805d5360e0ecceceb34de6557ba8/libkineto/src/output_json.cpp#L337.

If cuptiDeviceGetNumEventDomains in [getSMCount](https://github.com/pytorch/kineto/blob/a631215ac294805d5360e0ecceceb34de6557ba8/libkineto/src/CuptiActivityInterface.cpp#L60-L87) return error codes, then the domainCount would be

[2021-06-30 07:47] Antymon commented on #126
@gdankel Thank you for your concern. I did manage to do what I wanted at a time after some of the explanations and discovering examples (I believe that at 1.8.0 docs were a fraction of what they are at the latest now). I may have not used CPU mode at all though as it was not my main interest. I leave it to your judgment whether you want to do performance testing for this. It ended up not being a b

[2021-06-30 08:15] guotuofeng commented on #126
link with another [hang](https://github.com/pytorch/pytorch/issues/60158).

[2021-06-30 17:24] minhoolee commented on #325
@gaoteng-git I installed pytorch through pip for the latest version a few weeks ago.

[2021-07-01 00:57] #331 closed

[2021-07-01 20:03] minhoolee commented on #325
@gaoteng-git To be clear, do you think that fixing getSMCount and Est Achieved Occupancy will fix this issue that I was observing earlier? I could try producing the traces again with the updated Kineto submodule

[2021-07-04 14:50] ManiadisG opened #334 "No results loaded with torch-tb-profiler when there isn't a profiler in the code"
I have installed torch-tb-profiler and, when my code includes a profiler, the results of my experiments are displayed correctly in Tensorboard.
Example:
![image](https://user-images.githubusercontent.com/25967947/124389474-eb6cc280-dcef-11eb-8a3a-1fb231423db4.png)

However, if my code doesn't use a profiler, nothing is displayed and the spinner icon spins indefinately:

![image](https://user-image

[2021-07-06 02:02] guotuofeng commented on #334
duplicated with https://github.com/pytorch/kineto/issues/270

[2021-07-06 02:06] guotuofeng commented on #270
https://github.com/pytorch/kineto/issues/130 need to be considered when do the fix

[2021-07-06 12:01] metropolik opened #336 "Bug: json.decoder.JSONDecodeError: Invalid \escape"
Hi, I've been following this tutorial
https://pytorch.org/tutorials/intermediate/tensorboard_profiler_tutorial.html
but I'm getting this exception
[code]
Package | Version | Source
--------- | -------- | --------
torch-tb-profiler | 0.2.0 | pip
tensorboard | 2.5.0 | conda-forge
tensorboard-data-server | 0.6.0 |conda-forge
tensorboard-plugin-wit | 1.8.0 | conda-forge
pytorch | 1.9.0 py3.9_cuda11.1_

[2021-07-06 12:01] guotuofeng commented on #174
yes, I forget to close it.

[2021-07-06 12:01] #174 closed

[2021-07-06 12:02] #196 closed

[2021-07-06 12:19] metropolik commented on #336
Looks like this is not a bug of `torch-tb-profiler` but `pytorch`.
Looking into one of the json files reveals that the Call stack paths are not properly escaped.
`\site-packages\torch\autograd\profiler.py(611)`
I'll reopen an issue in the pytorch repo

[2021-07-06 12:45] metropolik commented on #336
pytorch seems to use this library to export its call stacks?
I could only follow the problem down to
https://github.com/pytorch/pytorch/blob/11aa5e4f663e74cfed74b268f356c58a6d47a0cf/torch/autograd/profiler.py#L201
but since `args` which contains the faulty paths is just an argument it must come from somewhere higher up

Here is an example of what causes the problem:
[code]

[2021-07-06 13:29] metropolik commented on #336
For anyone else looking for a workaround:
Change line 114 in `'\path_to_python_installation\Lib\site-packages\torch_tb_profiler\profiler\data.py'`
to
`trace_json = json.loads(data.replace(b"\\", b"\\\\"), strict=False)`
This works for me as a dirty workaround

[2021-07-06 23:46] guotuofeng commented on #336
duplicated with https://github.com/pytorch/pytorch/issues/60187, the bug should be fixed in next release.

[2021-07-06 23:47] #336 closed

[2021-07-07 12:41] #334 closed

[2021-07-07 16:00] psybuzz opened #338 "TensorBoard plugin blocks TensorBoard UI from fully loading"
Repro:
- In a fresh Python virtualenv, `pip install tensorboard torch-tb-profiler`
- Open TensorBoard (http://localhost:6006 by default)
- The UI under the header is blank, but the loading spinner rotates
![image](https://user-images.githubusercontent.com/2322480/124791363-d87d0c80-df00-11eb-8931-4d7619e208f7.png)
- In the DevTools network panel, the '/plugins_listing' request is stalled
- Eventua

[2021-07-07 21:55] EricWiener commented on #338
I'm also running into this issue with a docker image w/ tensorflow 2.5.0, tensorboard 2.5.0, and torch_tb_profiler 0.2.0.

[2021-07-08 01:57] guotuofeng commented on #338
This is a known bug, we will fix it

[2021-07-08 02:18] adamjstewart opened #339 "Build issue on systems with glibc < 2.12"
I'm trying to build kineto on a system with glibc 2.11.3. Since `pthread_setname_np` wasn't added until glibc 2.12, compilation fails with the following error message:
[code]
This is related to https://github.com/pytorch/pytorch/pull/55063. Unfortunately, updating glibc is not an option, as the supercomputer I'm using is no longer under contract and can't be updated. Would it be possible to provid

[2021-07-08 06:38] guotuofeng opened #342 "[RFC] Profiler differentiate runs/traces feature request"
# Profiler differentiate runs/traces feature request

## Scenarios

### Goals

Here are a couple of typical scenarios that data scientists would like to compare the run after doing some tweak on some baseline model to see whether there are obvious changes in new model.

* Data scientists would like to compare the model performance after changing some module’s dimension. For e.g. change the nn.Line

[2021-07-08 20:41] minhoolee commented on #328
Hi @gaoteng-git, do you of a way to eager load the warmup overhead, so that I can use the 1-line context manager (without looping)?

[2021-07-09 01:14] gaoteng-git commented on #328
@minhoolee As far as I know, there is no support for this. The current profiler's context manager will stop CUPTI on exit, so you have to re-warmup it in next usage.
Yes, the warmup phase is running CUPTI to warmup CUPTI but does not dump to show as result.
I'm not sure about your requirement and senario. Do you want to make first steps of training as "active" and move the warmup phase out of and

[2021-07-09 01:35] gaoteng-git commented on #328
@minhoolee I think both of your 2 workarounds will take no effect. The real profiling after that still needs warmup. Because the current profiler's context manager will stop CUPTI on exit, so you have to re-warmup it in next usage.
As far as I know, there is no support for warmup without step.
Yes, the warmup phase is running CUPTI to warmup CUPTI but does not dump to show as result.
I'm not sure

[2021-07-09 01:44] minhoolee commented on #328
Sorry if it wasn't clear. In my workarounds, the `// Code to profile` is a placeholder for the actual code to profile, not just a comment. I believe both workarounds work, but I'm looking for a different solution.

My use case is to use torch.profiler on any block of code with PyTorch operators in it. The requirement is that this block of code may not have any loops, and it cannot be required that

[2021-07-09 01:51] minhoolee commented on #328
To probe further, is the issue that the profiler's context manager stops CUPTI on exit or that CUPTI needs to be warmed up on the block of code to profile? I found that if I try to warmup on a noop, it doesn't warmup the CUPTI structures.

Does this mean it's possible to get the behavior I wish for? Any sort of pointers on a potential solution, even a hacky one, would be greatly appreciated. Thank

[2021-07-09 01:59] gaoteng-git commented on #328
Got it! It's a valuable use case. We will think about support it then.

Please refer to code above. I've updated it with a code.
The key point is each restart of CUPTI will lead to CUPTI warmup overhead, and profiler context manager will stop CUPTI on __exit__ and start CUPTI on entering next "warmup“ phase. So if the second context manager doesn't have "warmup" phase, the CUPTI warmup overhead wi

[2021-07-09 02:01] gaoteng-git commented on #328
@gdankel A valuable feature enhancement feedback. We may consider support warmup without loop and "step".

[2021-07-09 02:04] #338 closed

[2021-07-09 02:04] #270 closed

[2021-07-09 02:05] #130 closed

[2021-07-09 02:20] minhoolee commented on #328
Thanks, I very much appreciate it! Just to be perfectly clear,

The following's first context manager correctly warmups the second context manager:
[code]

The following's first context manager **doesn't** warmup the second context manager.
[code]

My ideal use case would look something like the following:
[code]

[2021-07-09 04:22] gdankel commented on #328
We discussed in the passed a separate warmup-pass where instead of passing in a schedule you can pass in a lambda for example, with some code resembling the code you want to profile. Cc @ilia-cher

Profiler init overhead is definitely an issue - I think the first is the worst btw, subsequent are not quite as bad.
We need to explore this better and maybe find some creative workarounds.

FIY CUDA11.

[2021-07-09 06:07] gaoteng-git commented on #325
Yes. The pytorch nightly build includes the update to call "smCount" from CudaDeviceProperties.cpp instead of the from CuptiActivityInterface.cpp. While the PyTorch 1.9 release doesn't include this change. So PyTorch nightly build could work.

[2021-07-09 06:52] leitian commented on #342
I feel the design is quite comprehensive and it looks very good to me. I have a few questions and suggestions:
(1) The "Diff View" section gives a diagram of the timeline views of two example runs. Is there a plan to highlight the modules/operators on the diagram, which have significant differences comparing the baseline run and the experimental run?
(2) I didn't find the details of how to show th

[2021-07-09 08:07] guotuofeng commented on #342
In the diff view, we only show the timeline view in module/submodule level. The reason that we don't show the difference between operator level is because there are huge operators to compare which will make the diff view much less useful from big picture view.

for kernel view, the comparison is shown like operator view in table format.  There is no plan to show the kernel difference from timeline

[2021-07-09 16:53] leitian commented on #342
Thank you for your explanations!

Sorry, I didn't make myself clear about item (4):  my suggestion is to let "Operator/Kernel View" put the ones that has big deltas on the top of the table by default.

[2021-07-09 21:07] EricWiener opened #347 "Get message `There are not any runs in the log folder.` when there are runs"
The directory the tensorboard points to contains:
[code]

The tensorboard is displaying the logged data correctly, but `torch_profiler` says that there are no runs.

<img width="1910" alt="Screen Shot 2021-07-09 at 2 06 35 PM" src="https://user-images.githubusercontent.com/18071029/125136049-e37d9b80-e0be-11eb-9654-3f962d448566.png">

I installed with:
[code]

[2021-07-09 21:08] EricWiener commented on #347
Also, not sure if this is related, but I also get the warning
[code]

which didn't show up before installing `torch_tb_profiler`.

[2021-07-09 21:19] EricWiener commented on #347
I made it work by switching to using tensorboard by creating symlinks for the log directories, but it seems like it should work either way

[2021-07-10 08:30] guotuofeng commented on #347
@EricWiener , I tried use your file name one file named as fit-training_step_and_backward.1625863814669.pt.trace.json in one specific folder "~/empty2". Then I launched tensorboard with pytorch_profiler show successfully.

here is my start commands
[code]

what's is your launching commands? would you please share us your traces files to myguo@microsoft.com

[2021-07-11 14:20] ManiadisG opened #348 "Is there a way to restrict the number of processes?"
As I understand it, tb-profiler currently assigns the reading of each experiment (or .json profiler trace?) to a distinct process up to the maximum capacity of the local machine, so that the traces are loaded in parallel. However, that causes my machine to crash when I want to read multiple experiments. as it overloads my CPU and RAM.

Is there a way to restrict the maximum number of workers that

[2021-07-12 02:58] guotuofeng commented on #342
Do you mean that we pin the maximum deltas on top of each column?

[2021-07-12 06:35] gaoteng-git commented on #348
@guotuofeng Consider adding a switch(such as environment variable) to restrict number of parallel processes?
Or we may get number of CPU cores and just use half of cores in loading.

[2021-07-12 20:48] leitian commented on #342
Yes.

[2021-07-13 00:36] guotuofeng commented on #342
So, we can sort against the delta column by descending order by default to make the delta on top.

[2021-07-14 04:31] EricWiener commented on #347
Sorry I'm not able to share the traces and it seems to be working now, so I'm gonna close the issue. Thank you for your help!

[2021-07-14 04:31] #347 closed

[2021-07-16 14:26] aunell opened #355 "Way to edit UI?"
Hi,

Is there a way to remove the step-time breakdown from the UI screen? Where in the code is this executed? Additionally, where in the code is the Execution Summary Pie Chart created? Thank you!

[2021-07-20 09:51] cloudhan opened #356 "Enable Kineto CUPTI on Windows"
Some chats from slack

me:

Gisle:

me:

In summary:
*on windows*

- [x] also package `cupti64*.dll`, see https://github.com/pytorch/builder/pull/815
  - Because PyTorch package all CUDA DLLs in whl
- [x]  Fix cupti activity timestamp semantic on windows
  - manually convert time since boot --> time since epoch
- [x]  Enable CUPTI on Windows, see https://github.com/pytorch/pytorch/pull/62175

[2021-07-20 10:06] cloudhan commented on #356
Simply enable CUPTI will cause `torch_cpu.dll` reference cudart symbols
[code]

all two symbols are boils down to `CudaDeviceProperties.cpp`. It it possible that we link `cudart_static.lib` into `torch_cpu.dll` *statically* and hide the symbol. But it might cause multiple instances of cudart objects living in PyTorch application, which is a big no no IMHO.

Simply moving kineto to `Caffe2_CUDA_DEP

[2021-07-20 11:34] cloudhan commented on #356
For my local build on linux:
[code]

For official release 1.9.0:
[code]

🤔

[2021-07-20 12:20] cloudhan commented on #356
[code]
I am pretty sure `libcudart` is coming from `tensorpipe`. I suspect that if we disable tensorpipe with kineto cupti enabled, we'd suffer from similar linker error on linux.

@gdankel Any comment, if you don't mind I make cudart a PUBLIC interface library of libkineto, it will be much easier.

[2021-07-20 20:23] #308 closed

[2021-08-02 02:06] guotuofeng commented on #329
https://github.com/pytorch/tutorials/pull/1625

[2021-08-09 21:03] chaekit commented on #342
I am curious how you will be extracting the comparable pieces exactly. My suggestion is to use markers(something we don't have yet). You can log marker start/end in your workload and all the events in between will be analyzed. os_signpost is an example of this in iOS https://developer.apple.com/documentation/os/3019241-os_signpost.

[2021-08-10 01:03] guotuofeng commented on #342
We will add module level trace and use the module name for comparison. We plan support only comparison of modules. The reason that there is no support for comparison of operators is the huge amount of operators, which will make the user lost focus.

[2021-08-13 06:16] cloudhan opened #384 "cupti returns time since boot instead of time since unix epoch"
blocker of #356.

This can be verified with [activity_trace.zip](https://github.com/pytorch/kineto/files/6980265/activity_trace.zip)

run `./build.ps1` on windows or `make` on linux

It is not mentioned anywhere in the cupti docs.

[2021-08-16 03:06] #154 closed

[2021-08-19 17:19] cemde opened #390 "Install from pypi"
When installing from PyPi is this step required:

[code]

Maybe it would be good to restructure the Readme.md file:
[code]
or in case "build the wheel" is only needed for git install
[code]

[2021-08-23 00:57] guotuofeng commented on #390
would you please submit the PR for readme changes?

[2021-08-31 12:28] #384 closed

[2021-09-02 23:55] lly-zero-one opened #406 "Use signal to trigger the profiling trace generation"
I saw there is support of signal API there to activate the trace generation. I am curious whether there is any example how to use it? I tried to send signal to the pytorch process(build with kineto enabled), but ended up with pytorch process terminated. Another question is whether we could get the application level activity. such as operator, if we only control the libkineto? Thanks.
cc @ilia-cher

[2021-09-08 21:20] gdankel commented on #406
Hi this is not enabled by default and currently you'll have to enable it via a config file option. Default config file location is in /etc/libkineto.conf but you can override this using the KINETO_CONFIG env var.

Adding the line
ENABLE_SIGUSR2=yes
should do it.

Let me know if it works for you.

[2021-09-08 21:46] lly-zero-one commented on #406
Thanks, @gdankel  So if we also want to get the application(pytorch) level activity, can we do it without any instrumentation to user model code?

[2021-09-08 22:20] gdankel commented on #406
Yes. There are currently some limitations however - you can't get call stacks or memory events for example. But planning to address this in time so that the same functionality is available with or without instrumentation.

[2021-09-14 02:23] cowwoc commented on #280
@ilia-cher Any update?

[2021-09-14 02:26] cowwoc opened #415 "Cannot enable torch-tb-profiler under Windows"
Version 0.2.1

When running tensorboard with this plugin under Windows I get this error on startup:

[code]

And the plugin tab does not show up in tensorboard.

[2021-09-14 02:38] guotuofeng commented on #280
we are working on this. https://github.com/pytorch/pytorch/pull/62175 is pending to merge.

[2021-09-14 02:39] guotuofeng commented on #280
https://github.com/pytorch/kineto/issues/356

[2021-09-14 02:40] cowwoc commented on #280
@guotuofeng Is there any way to use `PyTorchProfiler` on Windows until this is released? When I try using it under PyTorch 1.9.0 I get `UserWarning: CUPTI tracing is not available, falling back to legacy CUDA profiling`. Thanks in advance.

[2021-09-14 03:23] guyang3532 commented on #415
How do you launch the plugin? What is your tensorboard version?

[2021-09-14 03:26] cowwoc commented on #415
@guyang3532 Tensorboard 2.6.0 launched as follows:

[code]

[2021-09-14 03:30] cowwoc commented on #415
Oops, I just realized that my launcher was missing the guard block. Here is the updated code:

[code]

I no longer get the aforementioned error.

[2021-09-14 03:30] #415 closed

[2021-09-15 10:51] cloudhan opened #420 "Memory View performance issue"
With ~10 steps of resnet50 being profiled, there will be a roughly 2.3s freeze on 10900x machine.

The reason of the freezing is because of **Recalculate Style** and **Layout**, which, in turn, is caused by a large hidden accessibility table being created parallel to the `svg` element. The table has >100,000 elements in it.

The similar problem has been described in
https://groups.google.com/g/goo

[2021-09-15 22:26] ztyree42 opened #423 "Operator View - Blank Screen"
Noob here, just trying to go through the documentation for the pytorch_profiler and I can't access the Operator View. When I click it I get a flicker and it _seems_ like maybe the view is showing momentarily but it's too quick to be sure. Regardless, I'm quickly met with a blank screen. The other views all work as advertised.

[2021-09-16 00:19] guotuofeng commented on #423
@ztyree42 are there any repro steps? I screenshot would be much more helpful as well.

[2021-09-16 00:33] ztyree42 commented on #423
Here's my code:

[code]

It's the snippet from the Pytorch docs on the profiler along with this line

`with torch.profiler.profile() as prof:
    pass
`

which is a hack to fix the bug with Nvidia Driver 465.

All I've done is run that code sample and then open Tensorboard from the command pallette. Here's what I'm looking at

![image](https://user-images.githubusercontent.com/17054909/133530447-6

[2021-09-16 07:33] guyang3532 commented on #423
@ztyree42 Can you see other views? overall view? in the Tensorboard in VSCode? Can you show the log printed in TERMINAL?

[2021-09-16 16:32] mwootton opened #426 "Collect GPU data on ROCm Platforms"
ROCm systems do not have cupti available.  GPU api calls and async ops need to be collected via the roctracer api.

[2021-09-16 17:23] ztyree42 commented on #423
VSCode 1.60.1, Python 3.9
I can see the all of the other views including the Overview. All of this is Tensorboard integrated in VSCode run from the command palette.

Here are the logs, I've shortened them for readability, there are about a thousand lines of
[code]
this style Error

[code]

[2021-09-17 06:19] guyang3532 commented on #423
Are the installed packages pytorch == nightly and torch-tb-profiler == 0.2.1 ? If they are, it's a known bug.
You may downgrade the pytorch version to 1.9 or install the latest torch-tb-profiler from source code at https://github.com/pytorch/kineto/tree/plugin/vnext
install command:
cd tb_plugin
pip install .

[2021-09-17 07:57] ztyree42 commented on #423
Ah, yes they are :/ unfortunately I'm on driver 465 and need the nightly
build to address another cudnn bug. Thanks for your help!

On Thu, Sep 16, 2021, 11:20 PM guyang3532 ***@***.***> wrote:

[2021-09-17 10:10] guyang3532 commented on #423
Pytorch nightly can work with latest torch-tb-profiler. You can install it from source code.

[2021-09-17 10:10] #423 closed

[2021-09-24 02:47] guotuofeng commented on #280
@cowwoc, I think the Windows support should be ready when PT 1.10.

[2021-09-26 05:33] cloudhan commented on #280
This feature will NOT be available in 1.10

[2021-09-26 05:41] cloudhan commented on #356
Abandoned.

[2021-09-26 08:04] cowwoc commented on #356
@cloudhan Can you please clarify? Do you mean you don't plan to add this functionality?

[2021-09-26 08:41] cloudhan commented on #356
It is in ready state.

But I am simply fed up with fragile CI infrastructure. To reprod a simple issue, I'd waste half a day to piece the floating parts together to verify 5 lines of change even if I am confident with the change, since there is no public test fot it, the test can only be triggered after import. If some tests failed again, even in the down stream repo, an immediate revert cause it

[2021-09-28 14:35] EtienneDSamson commented on #280
So if I understand correctly, it is not possible to fully use the Pytorch Profiler on Windows for now? As @cowwoc [mentionned](https://github.com/pytorch/kineto/issues/280#issuecomment-918747082), it is possible to profile/trace the CPU but trying to profile the GPU gives a CUPTI error.

If that is the case, is there a release date scheduled? Looking at the different PRs and threads, it seems it h

[2021-10-08 19:35] moderato opened #443 "Profiler doesn't capture PyTorch op events in multithreads"
Hi, as the title said. Here's the code I used to reproduce the bug on 2 GPUs. In the trace file we can only see cudaKernelLaunch and the GPU kernel calls, but none of the add and mul ops are captured. Anyone could help?

cc: @louisfeng

[code]

Trace:
<img width="1216" alt="Screen Shot 2021-10-08 at 12 28 24 PM" src="https://user-images.githubusercontent.com/9214474/136615227-4f3cbbc9-1558-4f0c-85

[2021-10-11 02:24] luweipeng opened #444 "when i try ddp training, tensorboard can‘t show the "Trace" content"
![image](https://user-images.githubusercontent.com/8613169/136724669-442d3845-2359-4178-8f32-53d73b525960.png)

code：
![image](https://user-images.githubusercontent.com/8613169/136724789-165f3d46-5c97-4bc7-89a7-155ef78792ee.png)

[2021-10-11 19:13] gdankel commented on #406
OK yes so this works internally, but it might not actually work with the current OSS version. You should be able to get GPU activities but I don't think you'll currently get PyTorch ops in the trace, even if you are able to trigger successfully.
I am currently refactoring the code and in the new version it should be doable... I think you need to stay tuned a little longer. By the way, this is an u

[2021-10-12 04:50] lly-zero-one commented on #406
Thanks. I will look forward to the features.

[2021-10-13 07:30] luweipeng commented on #444
@gaoteng-git thanks!!
yeah, When I increase the batch size, reduce training time（profile size）, I can see the trace content too. thank you so much.

[2021-10-13 21:09] maharishib opened #445 "libkineto::api().activityProfiler() returns NULL value"
I'm not able to use activity profiler as libkineto::api().activityProfiler() returns NULL value.
The cause for this is InitializeInjection in init.cpp is not getting called. I tried setting the value of CUDA_INJECTION64_PATH env variable but it didn't have any effect.
Any suggestions on fixing this.
Thanks.

[2021-10-15 17:31] aaronenyeshi opened #446 "TensorBoard Overview Missing and Operator view crash for GPU only trace"
When launching a GPU-only trace on the TensorBoard plugin (on VS Code), the `Overview` View looks incorrect and the `Operator` view will crash. The `Trace` and `GPU Kernel` Views work great!  I've been able to reproduce this issue using TorchBench runs.

These are the steps to reproduce the issue:

1. git clone https://github.com/pytorch/benchmark
2. Install any dependencies:
    - Use python 3.7

[2021-10-16 05:00] guotuofeng commented on #446
@aaronenyeshi, would you please help provide more context information?
for example, the PT version, plugin version? it would be better if the trace file can be shared as well.

[2021-10-18 02:34] #444 closed

[2021-10-20 20:55] gdankel commented on #356
I did have a sneaking suspicion that calling cuda APIs from within libkineto could get us in trouble. It may be that we can reimplement the functionality in DeviceInfo.cpp without relying on cudart... would that resolve this issue?

[2021-11-03 03:08] guotuofeng commented on #446
@aaronenyeshi , you can use the 0.3.1 since you are using pytorch nightly build

[2021-11-11 22:08] msaroufim opened #467 "Dark mode"
See attached screenshot

Typically with tensorboard dark mode everything becomes dark but in the case of the profiler only the menu is dark - not a deal breaker but it doesn't look great

![Screen Shot 2021-11-11 at 2 07 01 PM](https://user-images.githubusercontent.com/3282513/141375781-90aa743e-822e-4ec1-84c5-e2bfef244ed5.png)

![Screen Shot 2021-11-11 at 2 07 44 PM](https://user-images.githubuse

[2021-12-01 09:34] #446 closed

[2021-12-02 00:05] btian opened #478 "getSMCount() does not work for Turing and later"
https://github.com/pytorch/kineto/blob/main/libkineto/src/CuptiActivityApi.cpp#L66

Why not use CUDA device properties instead? I.e.,

[code]

[2021-12-09 05:19] guotuofeng commented on #159
https://github.com/pytorch/kineto/pull/462
https://github.com/pytorch/kineto/pull/475

[2021-12-09 05:19] #159 closed

[2021-12-17 09:01] gdankel commented on #478
I think this function can be removed - we do use CUDA device properties and this is just a left-over.

[2022-01-18 23:07] aaronenyeshi opened #502 "TB_Plugin_CI GitHub Action is failing on most recent jobs"
The TB_Plugin_CI Github Action started failing recently. I am seeing the failure on my latest commit, 816968adfc621e42efe5adb52dccd49942aeb1f7 as well as other branches.

Here it appears to have failed earlier on another job, `Enable diff run` on @guotuofeng's [myguo/diffrun](https://github.com/pytorch/kineto/actions/workflows/tb_plugin_ci.yml)
![image](https://user-images.githubusercontent.com/17

[2022-01-19 00:28] robieta commented on #502
I think it's due to https://github.com/pytorch/pytorch/pull/69798. Does https://github.com/pytorch/pytorch/pull/71417 fix it?

[2022-01-19 17:50] jyyon opened #504 "torch_tb_profiler memory_parser throws an error"
When running model training with deepspeed and pytorch profiler, the training runs without exception, but when I try to analyze the profiling result with tensorboard, it throws `assert prev_ts < r.ts` error from memory parser. I didn't use deepspeed model parallel flag and ran it on single machine with 4 GPUs.

deepspeed version = 0.5.9
torch version = 1.10.1
torch_tb_profiler version = 0.3.1

Tra

[2022-01-19 21:42] aaronenyeshi commented on #502
I saw that patch is merged, but the Github Action is still failing today. It looks to fail for nightly, but passes with 1.9rc.

![image](https://user-images.githubusercontent.com/17602366/150218569-d5fed56a-76bd-43b5-9107-71d45c4f74e2.png)

[2022-01-19 21:53] aaronenyeshi commented on #504
@robieta @chaekit - could this issue be caused by recent PyTorch Profiler refactors?

[2022-01-19 21:59] robieta commented on #504
Possibly. I don't think profiler promises any sort of ordering of events, though they tend to be sorted and that seems to have been baked into the plugin. We should sync with the TB plugin folks and decide what invariants the profiler should actually promise.

[2022-01-19 23:14] malfet commented on #502
Hmm, latest nightly include pytorch/pytorch#71417 and the test is run against `1.11.0.dev20220119+cpu`

[2022-01-19 23:52] aaronenyeshi commented on #502
This is the failing test in the logs:
[code]

[2022-01-20 00:32] malfet commented on #502
Yeah, which still suggests that change that @robieta is made is not enough
For the reference, here is the log to last successful run on Jan 5h 2022: https://github.com/pytorch/kineto/actions/runs/1660235342

[2022-01-20 01:01] guotuofeng commented on #504
@cloudhan, would you please take a look?

[2022-01-20 01:07] guotuofeng commented on #504
@jyyon, would you please share us your chrome tracing file so that we can take a look?

[2022-01-20 01:10] guotuofeng commented on #502
The reason of today failure might be the nightly build including the fix is not ready. It seems nightly build(20220120) after the fix is not ready in https://download.pytorch.org/whl/nightly/cu102/torch_nightly.html

[2022-01-20 05:39] cloudhan commented on #504
The order is enforce on profile json file loading. So I can only imagine the case where 2 events have exactly the same timestamp...

[2022-01-21 03:42] skyline75489 commented on #342
A sneak peak of this feature implemented in #369

![image](https://user-images.githubusercontent.com/4710575/150461699-5f62afa8-cbf0-46c4-a36a-2977ebf36546.png)

[2022-01-21 10:03] tranhoangkhuongvn opened #507 "Error while running tutorial example"
Hi,

I received this error while running the code example in the "PYTORCH PROFILER WITH TENSORBOARD" with context manager
`[W CPUAllocator.cpp:306] Memory block of unknown size was allocated before the profiling started, profiler results will not include the deallocation event`

If I try the non-context manager I receive a segmentation fault (core dumped) error

I ran this on Ubuntu 20.04.3 LTS an

[2022-01-21 20:45] robieta commented on #507
What do you mean by "non-context manager"?

[2022-01-22 05:23] guotuofeng commented on #507
@robieta, the non-context manager is meaning
![image](https://user-images.githubusercontent.com/817030/150625966-db6265e1-e965-4d67-b9e7-467a1186ba3e.png)
in https://pytorch.org/tutorials/intermediate/tensorboard_profiler_tutorial.html?highlight=tensorboard

@tranhoangkhuongvn is the segment fault related to  https://github.com/pytorch/pytorch/issues/69443?

[2022-01-22 11:27] guotuofeng commented on #502
verified with nightly build https://download.pytorch.org/whl/nightly/cpu/torch-1.11.0.dev20220121%2Bcpu-cp39-cp39-linux_x86_64.whl, the test passed.

[2022-01-22 11:27] #502 closed

[2022-01-24 19:17] aaronenyeshi opened #509 "GitHub detected a vulnerability in the nanoid dependency"
There is a vulnerability ticket opened internally on pytorch/kineto, related to Tensorboard. Could someone please help take a look? @guotuofeng, @guyang3532 - are you guys the maintainers for tb_plugin? I couldn't find you internal.

GitHub has detected that a package defined in the tb_plugin/fe/yarn.lock file of the pytorch/kineto repository contains a security vulnerability.

Package name: nanoi

[2022-01-25 17:59] #509 closed

[2022-02-02 13:29] blazejdolicki opened #514 "Clarification about "kernel" category and recommended improvements"
Hello,

I'm working with a dataset with 300k examples that takes about 1 hour to complete one epoch which seems to me slower than expected, so I tried to find possible bottlenecks (e.g. dataloader). Today I found out about profiling with kineto tensorboard which appears to be exactly what I needed, thanks for implementing it!

When using it, this is the graph I get, clearly the dataloader is not t

[2022-02-06 08:58] guotuofeng commented on #514
yes, you are correct. Kernel means GPU related operation launched by underlying PyTorch operators.

What's the general recommendation with your chrome trace file by Tensorboard UI?

[2022-02-06 17:20] blazejdolicki commented on #514
Thank! The recommendation in the UI is to use mixed precision I believe.

[2022-02-07 09:51] guotuofeng commented on #514
could you please let us know whether the batch size and mix precision helps or not?

[2022-02-07 21:21] moderato commented on #443
Hi! I was wondering if this has been resolved?

[2022-02-08 00:22] louisfeng commented on #443
cc: @robieta @chaekit, hey guys could you please review this and give the final approval for this to be merged?

[2022-02-08 00:23] louisfeng commented on #443
You still see this problem with the current version?

cc: @robieta @chaekit

[2022-02-08 01:30] robieta commented on #443
I think the issue here is that the profiler is thread local, so when you spawn new threads they don't have the profiler enabled. I believe the reason for this was because you could enable profiling in a multithreaded inference context; however this is clearly an ergonomic issue. Maybe we should have a `profile_global` flag in the profiler constructor?

[2022-02-09 08:11] guyang3532 commented on #504
@jyyon , I can't reproduce this problem. Can you share a complete example code for me to reproduce ? Or share me the chrome tracing file?

[2022-02-11 00:45] zplizzi opened #520 "Runtime and Device-op have same correlation id but with different external id"
I get this warning in the tensorboard logs when loading a trace:

[code]

[2022-02-11 09:15] #504 closed

[2022-02-15 18:59] robieta commented on #310
Just came across this, so I figured I'd set the record straight. (Albeit far too late.) Kineto changed names early in the development, and this was a tool to migrate things around using a `-DKINETO_NAMESPACE=...` flag. We're going to consolidate to `namespace libkineto`, since that migration is long done.

[2022-02-17 23:52] #467 closed

[2022-03-08 00:40] aaronenyeshi commented on #426
Closing since roctracer is supported.

[2022-03-08 00:40] #426 closed

[2022-03-08 00:48] aaronenyeshi opened #556 "GitHub detected vulnerabilities in tb_plugin files"
Please help take a look at these automatically detected vulnerabilities.

pytorch/kineto: GitHub detected a vulnerability in the node-forge dependency
[code]

pytorch/kineto: GitHub detected a vulnerability in the ansi-regex dependency
[code]

pytorch/kineto: GitHub detected a vulnerability in the ansi-html dependency
[code]

pytorch/kineto: GitHub detected a vulnerability in the path-parse depend

[2022-03-08 01:13] guotuofeng commented on #556
@aaronenyeshi, would you please help review the PR and merge to main?

[2022-03-08 07:09] annhbom123 opened #558 "Bom9"

[2022-03-08 16:21] #558 closed

[2022-03-08 17:18] jyyon commented on #504
After the fix, I am experiencing the following error:
[code]
This seems a different case than above. When I printed `prev_t` and `r.ts`, they were different. In which case can it happen?

[2022-03-08 18:35] #556 closed

[2022-03-08 19:13] aaronenyeshi commented on #556
Done and landed! Thanks!

[2022-03-09 00:27] guotuofeng commented on #504
@jyyon, would you mind share your tracing file to myguo@microsoft.com so that we can take a look?

[2022-03-09 03:23] cloudhan commented on #504
The assertion failure of `addr not in free` indicate a double free of same memory address. Since you are not experiencing segfault, then I am suspecting that there might be some allocations are not correctly recorded. If you @jyyon  could provide a step-by-step reproduce, then it will be of great help.

[2022-03-09 18:25] jyyon commented on #504
@guotuofeng sent email to share tracing file.
@cloudhan In this case, metrics collection is more likely an issue? I don't have shareable reproducible code yet.

[2022-03-10 07:55] guotuofeng commented on #504
@jyyon, thank for your shared data. The issue should be fixed in PR https://github.com/pytorch/kineto/pull/559

[2022-03-15 13:19] Alobal opened #564 "No GPU/CUDA"
Hi

When I test the example program(resnet50), tensorboard only show CPU and Other, however the code is running on cuda .

![image](https://user-images.githubusercontent.com/35487993/158385801-b8f29040-0790-4082-8c79-3f4da94855fe.png)

When I use pytorch profiler in my model , it also output no GPU SUMMARY too.

I don't know what's wrong.

my environment: pytorch1.10.1+cu113, win10,  python3.8.10

[2022-03-15 22:10] aaronenyeshi commented on #564
Hi @Alobal, do you know when this issue started? (pytorch src changes, kineto update, etc)

[2022-03-16 01:54] Alobal commented on #564
Sorry, I just used  it yesterday, so I do not know what happened in the past versions.

[2022-03-17 22:55] HamidShojanazeri opened #566 "Pytorch profiler does not support Distributed view for FSDP training"
Running the [FSDP ](https://deploy-preview-958--pytorch-dot-org-preview.netlify.app/blog/introducing-pytorch-fully-sharded-data-parallel-api/)training (released with PT 1.11)  which is a type of DDP, it is expected to have distributed view in Pytorch profile. The distributed view is currently missing from profiler for FSDP.

Following are snapshots from DDP vs FSDP Profiler view.

<img width="1768

[2022-03-22 18:39] zhaojuanmao commented on #566
@rohan-varma do you know who can help with this?

[2022-03-28 17:38] aaronenyeshi opened #569 "Github detect vulnerabilities"
Hi @guotuofeng, could you please help take a look at this?
[code]

[2022-03-29 00:54] guotuofeng commented on #569
@aaronenyeshi, it should be fixed.

[2022-03-29 15:35] aaronenyeshi commented on #569
Thanks! I also received this warning:
[code]

[2022-03-30 00:16] guotuofeng commented on #569
@aaronenyeshi, the vul for minimist is also fixed in the same PR.

[2022-03-30 00:17] guotuofeng commented on #569
@aaronenyeshi, this vul is also fixed in the PR.

[2022-03-31 17:30] aaronenyeshi commented on #569
Thank you, that is good to know. Let's merge it

[2022-04-08 04:45] danielsnider opened #578 ""fwd_bwd_correlation" button doesn't exist"
The "fwd_bwd_correlation" button doesn't exist.

Your [README](https://github.com/pytorch/kineto/blob/main/tb_plugin/README.md) talks about a really cool feature that's not working for me when I use your [sample.pt.trace.json](https://github.com/pytorch/kineto/blob/main/tb_plugin/samples) referred to in the [README](https://github.com/pytorch/kineto/blob/main/tb_plugin/README.md).

From [README](h

[2022-04-08 19:46] danielsnider opened #580 "Module View doesn't show backward pass operations"
The backward pass doesn't appear in the Module View. Is there a plan to add this?

The two red arrows below mark where the backward pass should appear:
![image](https://user-images.githubusercontent.com/1737560/162514913-f1aef35b-5d4b-46db-8cbd-436237b5383a.png)

Here is the backward pass as seen in the Trace View:
![image](https://user-images.githubusercontent.com/1737560/162515583-be9461a2-326f-

[2022-04-08 23:57] briancoutinho commented on #580
Is this a feature request for tensorboard plugin? looks like the trace from libkineto has the information right?

[2022-04-09 06:53] guotuofeng commented on #580
@danielsnider, there is a bug in PyTorch profiler related to forward/backward correlation which would cause the profiler crash. We deliberately disable the forward/backward correlation in nightly build. Once the bug is fixed, the forward/backward correlation would be reeanbled again. At that time, the backward module would be shown in tb_plugin.

[2022-04-15 18:22] aaronenyeshi commented on #478
Closing since this has been fixed.
https://github.com/pytorch/kineto/blob/main/libkineto/src/CudaDeviceProperties.cpp#L85

[2022-04-15 18:22] #478 closed

[2022-04-15 18:25] aaronenyeshi commented on #12
PyTorch Profiler API is using Kineto for GPU trace collection. You can modify the checkout of Kineto in PyTorch directly via pytorch/third_party/kineto. Closing this old issue.

[2022-04-15 18:25] #12 closed

[2022-04-15 18:28] aaronenyeshi commented on #85
Old issue, API doesn't exist anymore. Closing this out. Please open new issue if an API is found to be slow.

[2022-04-15 18:28] #85 closed

[2022-04-22 12:26] ldorigo opened #591 ""Operator" view doesn't show Host/Device, only Host when all operations are performed on GPU?"
Hi, in the overview it shows that I have a GPU enabled :

![Screenshot_20220422_142212](https://user-images.githubusercontent.com/8631181/164713423-ee634087-0d8f-420a-98af-88085486256a.png)

However in the "Operator" view it shows only "Host" time, no "Device" time:

![Screenshot_20220422_142422](https://user-images.githubusercontent.com/8631181/164713761-d4907a3e-fa10-4eed-9bd7-4c7e25153d21.png)

[2022-04-24 02:31] tonyjie opened #592 "Is it able to profile for Gloo backend and distributed CPU settings?"
The example is running on the NCCL backend for distributed GPU settings. I'm wondering if it can profile correctly on a multi-node (multiple CPU servers) distributed CPU settings with Gloo backend?

I try to change the example code: change NCCL to Gloo backend, and make the device as CPU. It could generate reports for distributed and memory view. I think that is correct? But it is only on one-mach

[2022-04-24 02:38] tonyjie commented on #592
Also, it might worth to mention that: when I try to profile the CPU, on the first step it would generate a warning:
[code]
But the following steps don't generate the warning.

[2022-04-24 21:38] erasromani commented on #564
I'm running into this same issue. Has anyone been able to resolve it?

[2022-04-26 11:16] Alobal commented on #564
I find the issue is only happened on Windows, when I use Ubuntu , there is no problem.

[2022-05-12 16:35] maximilian-tech opened #595 "Trace view is empty, trace too large?"
Hi,

one epoch of my network creates a trace.json with 2.2GB size and 62_475_015 lines.
The trace was collected with the default settings.
The trace view is empty with no data shown.

Is the trace too large to be viewed with this plugin?
What are "normal" trace sizes?

Thanks!

[2022-05-12 16:43] robieta commented on #595
Can you check to see if it will load in `chrome://tracing`? And do you see anything in the TensorBoard process logs that might be relevant?

If you can distill the issue down to a standalone repro I can take a look.

[2022-05-12 18:38] maximilian-tech commented on #595
```chrome://tracing``` reports a ```Error while loading file: [object ProgressEvent]```.
The TensorBoard log shows nothing.
[One issue suggest](https://github.com/google/trace-viewer/issues/298) that it actually might be linked to a trace being too large. I try the trace viewer of [https://ui.perfetto.dev/#!/viewer](https://ui.perfetto.dev/#!/viewer) at the moment, but also hangs.

[2022-05-12 18:46] robieta commented on #595
Hmm. Very curious. Chrome trace is known to be limited, but I thought Perfetto was supposed to scale better. CC @chaekit

[2022-05-12 19:58] maximilian-tech commented on #595
A quick question: is it possible to view the generated traces with Perfetto? I try to load the sample traces but afterloading nothing is shown.

Would it be helpful if I share the large trace?

[2022-05-12 20:31] chaekit commented on #595
yeah 2.2GB will most likely go over Chrome trace limit. for Perfetto, loading it on ui.perfetto.dev will load it on Chrome which runs into browser tab memory limit.

there is a way to run this off of Chrome which is detailed here https://perfetto.dev/docs/visualization/large-traces, and should support bigger traces

[2022-05-16 15:45] maximilian-tech opened #597 "Trace arbitrary python code"
Hello,

is it possible to trace arbitrary python code without setting the "with_stack=True" flag? I would like to get a reduced information about the functions executed, without information about the file and line the function was called from.

I hope this will have a lower overhead than it has at the moment.

Thanks!

[2022-05-16 15:51] robieta commented on #597
No, that is not possible. Including the filename and line number doesn't really affect the overhead due to the way the cache structure works. (Unless you have a very low cache hit rate due to unusual code flow, in which case there's not much we can do.) I do have a change in the pipeline that will cut overhead by ~15%; past that you sort of run into the limits of what is possible. Profiling adds o

[2022-05-25 23:26] msaroufim opened #604 "`tb_plugin/examples/datapipe_example.py` outdated"
There's a few lines in this file that are now outdated

`import torchvision.prototype.models as models` does not exist

`    trainset = Cifar10().to_datapipe(root='./data', decoder=pdatasets.decoder.raw)` where `Cifar10()` expects to be passed in a `root` argument directly

Could be a couple more too

[2022-05-26 11:04] matrix97317 opened #605 "Tensorboard: No Runs Found"
![image](https://user-images.githubusercontent.com/76250408/170475808-434ff919-9d5d-4e69-bf00-29b445c9ea90.png)
![image](https://user-images.githubusercontent.com/76250408/170475865-8bd208de-6d38-40f3-9076-ffa9b98315ff.png)

[2022-05-26 11:06] fengjinyuan commented on #605
torch: 1.10
torch_tb_profiler: 0.4.0
use code: tb_plugin/examples/resnet50_ddp_profiler.py

[2022-05-30 03:30] gongjingcs commented on #520
same warning
looking forward your reply

[2022-05-31 19:03] msaroufim opened #609 "datapipe profiler showing too much information"
The long spikes are datapipes calls when a datapipe gets constructed - for reference the wide rectangle is model training

![Screen Shot 2022-05-31 at 12 01 32 PM](https://user-images.githubusercontent.com/3282513/171264954-e6be41c8-b4db-4f19-857e-23b1b432f50f.png)

A closeup showing the relative lengths

![Screen Shot 2022-05-31 at 12 01 40 PM](https://user-images.githubusercontent.com/3282513/17

[2022-06-01 17:22] kiedanski opened #610 "DataLoader time is always 0"
I run your example https://github.com/pytorch/kineto/blob/main/tb_plugin/examples/resnet50_profiler_api.py and I keep getting a 0ms spent on the DataLoder. I tried to add a slow collate_fn function to see if that changed but I still get 0.

Is this the expected behaviour?

[2022-06-03 11:45] #595 closed

[2022-06-03 11:45] #597 closed

[2022-06-03 20:43] aaronenyeshi commented on #610
Thanks for reporting, some of the examples are not working, we will investigate.

[2022-06-03 20:44] aaronenyeshi commented on #609
There is no functionality for this now, let's continue the discussion about this internally (on your post). Thank you.

[2022-06-03 20:45] aaronenyeshi commented on #605
Thanks for reporting, some of the examples are not working, we will investigate.

[2022-06-03 20:46] aaronenyeshi commented on #604
Thank you for catching this, please feel free to submit a patch and we can help merge, or we will get back to you.

[2022-06-03 20:48] aaronenyeshi commented on #591
Hi, thank you for the issue, can you please check if you are still reproducing the issue? Some event type names have recently been arranged.

[2022-06-03 21:35] msaroufim commented on #604
I chatted with @NicolasHug about this offline, given that this example leverages `prototype` features there is no expectation of backwards compatibility so this example will continue breaking until datapipes are promoted out of prototype. So for now I guess we can add a notice at the top of the code. I'll write something now

[2022-06-03 23:04] chaekit commented on #406
Hello @lly-zero-one ! We have landed a way for OSS version to trace host side activities as we do for internal workloads. These are our "prototype" features and expect it to be in 1.12. The only caveat is that it is guarded in compiler flag, and would require building from branch cut source. We may try to make it default for 1.12 but is not guaranteed. Let me know if you have concerns. cc: @chauha

[2022-06-06 20:34] hyhuang00 opened #615 "How to limit the scope of the profiler?"
I am wondering if it is possible to limit the scope of the profiler to a particular part of the neural network. Currently, I am trying to analyze the bottleneck of my model using the following pseudocode:

[code]

However, the trace I created is still way too large (~800MB) for the tensorboard to function properly. Apparently tensorboard is only able to load the trace if it is smaller than about 5

[2022-06-08 17:02] aaronenyeshi commented on #615
Since `p.step()` is used to mark iteration boundaries, you may try using that to split up the model. Other than that, you should be able to visualize an 800MB trace on chrome using export_chrome_trace. If the trace starts going over 5GB, you can try using Perfetto to visualize the trace file.

[2022-06-08 20:32] hyhuang00 commented on #615
Thank you for your help!

- I tried to visualize the trace on chrome via "chrome://tracing" but this method works only when I got the trace smaller than 500MB as well. My machine has a 32GB memory so I think the memory is sufficient, Is there a particular parameter I should modify to allow larger memory usage?
- For the Perfetto trick, I tried either upload my trace directly or use `trace_processo

[2022-06-13 21:06] robieta opened #617 "Windows paths not properly handled leading to decode error"
There is a `sanitizeStrForJSON` method in Kineto, however it is only applied to some internal cases. When the profiler passes a windows path (e.g. `foo\\bar\\baz`) the correct json serialization is `foo\\\\bar\\\\baz`, however the kineto json exporter does not perform this escaping. This leads to an invalid trace that fails to load due to

`json.decoder.JSONDecodeError: Invalid \escape:`

[2022-06-20 19:09] aaronenyeshi commented on #615
For the Perfetto trick, we have an internal script for this (ping me internally if you are an employee). Otherwise, you need to manually modify the .json file, by moving the traceEvents: [] structure to be at the root of the json. You can also delete the other root level json entries in the file. Ie:
[code]
into:
[code]
Another alternative is on-demand tracing via time duration. Use a duration of

[2022-06-21 01:59] bnsh opened #622 "Tensorboard hangs while loading Pytorch Profiler results."
Hi. This isn't a "issue" per se, mostly because I'm pretty sure I'm doing something wrong.

Here's my code snippet (minus the entire network that I was profiling in a train loop...

[code]

And, it _does_ write into my profile_dir these rather ginormous json files:

[code]

Then, after installing the [tensorboard plugin](https://github.com/pytorch/kineto/tree/master/tb_plugin), I go to http://loca

[2022-06-21 11:31] cbjuan commented on #564
I'm experiencing something similar in Ubuntu.

In the overview, I get there is a GPU, but it does not show the "GPU Summary" section (the GPU is reporting more data, I also get the memory view for the GPU).

<img width="897" alt="Screenshot_2022-06-21_at_12_59_55" src="https://user-images.githubusercontent.com/2938045/174789226-6082ea56-18b1-4c75-86ad-f6cb359ca2b5.png">

Info:
[code]

[2022-06-22 07:56] bnsh commented on #622
Hi @aaronenyeshi Thanks for your response.. OK, so I'm trying that, and I got a file that's half the size:

[code]

But, it still (at least so far...) is just hanging. I'll let it keep running for a few more hours...

FWIW, this is what I see... Along with the Chrome developer tools/network trace showing that it keeps asking for "run" from the server, which keeps just returning

[code]
![loading](

[2022-06-22 08:06] bnsh commented on #622
(FWIW: For my purposes, while it's interesting, and probably would be cool to get it working with Tensorboard, if there's some alternate way of looking at the profile data, I'd be OK with that as well..)

[2022-06-22 08:08] bnsh commented on #622
Oh! It finally loaded! I wonder why it took so long before... Is it just the "repeat=1" that did it?

![loaded](https://user-images.githubusercontent.com/353681/174977794-c6ac4b2a-2cb8-43fb-926e-0351604032af.png)

[2022-06-22 15:43] bnsh commented on #622
Oh, that's really cool.. But, I guess I'd have to run that on tensorboard, right?

[2022-06-22 16:25] aaronenyeshi commented on #622
Using `repeat=1` will make the profiler run once. If unset, it will run warmup + active in a cycle indefinitely. That may slow down your workload since its constantly profiling plus writing the trace to disk.

[2022-06-23 18:02] aaronenyeshi opened #623 "Github Vulnerability: package moment"
GitHub has detected that a package defined in the tb_plugin/fe/yarn.lock file of the pytorch/kineto repository contains a security vulnerability.

Package name: moment
Affected versions: < 2.29.2
Fixed in version: 2.29.2
Severity: HIGH
Identifier(s):
GHSA-8hfj-j24r-96c4
CVE-2022-24785

Reference(s):
https://github.com/moment/moment/security/advisories/GHSA-8hfj-j24r-96c4
https://nvd.nist.gov/vuln/

[2022-06-29 08:34] yangyanli commented on #591
Same issue here with pytorch 1.11 and 1.12, 1.10 works well though.

[2022-07-05 19:06] aaronenyeshi commented on #604
Sounds good to me!

[2022-07-05 19:06] #604 closed

[2022-07-06 17:46] #623 closed

[2022-07-07 08:59] AndreasKaratzas commented on #280
Windows version of the profiler still not working, and it's not just a backslash issue, my json file exported on Windows has not even got a proper structure. It's like it stopped printing before it was supposed to. Tested the same exact code on Ubuntu, and it worked like a charm.

[2022-07-13 15:05] nitsanh commented on #564
Hi, I was having the same issue, running with python 3.8.10 and the new torch 1.12.0. Before upgrading to torch 1.12.0 everything worked fine. Downgrading back to torch 1.11.0 solved the problem for me.

[2022-07-16 14:37] latkins opened #630 "Link stack trace to exact line of source file"
Is it possible to link a pytorch operation to the exact line of a source file using kineto's stack trace? For example, the following function
![image](https://user-images.githubusercontent.com/1080217/179358979-92d27b79-6f7e-4780-b10a-a18a50f84660.png)
has traces that look like
[code]
That is, the torch operation is only "linked" to the whole function's scope (e.g. `naive_attn.py(45): attn`, rathe

[2022-07-16 18:41] robieta commented on #630
I think you've actually found a bug in the profiler. Circa 1.8 `with_stack` would snapshot the current cPython stack. This was prohibitively expensive / wasteful and made it impossible to get meaningful times with it enabled. To address this we switched to a replay based system that keeps track of when we enter and exit frames and reconstruct the python stack during post processing. But what your

[2022-07-21 16:40] aaronenyeshi opened #634 "tb_plugin/yarn.lock vulnerability in terser package"
GitHub has detected that a package defined in the tb_plugin/fe/yarn.lock file of the pytorch/kineto repository contains a security vulnerability.

Package name: terser
Affected versions: >= 5.0.0, < 5.14.2
Fixed in version: 5.14.2
Severity: MODERATE

Identifier(s):
GHSA-4wf5-vphf-c2xc
CVE-2022-25858

Reference(s):
[https://nvd.nist.gov/vuln/detail/CVE-2022-25858](https://l.facebook.com/l.php?u=htt

[2022-07-21 16:40] aaronenyeshi commented on #634
Hi @guotuofeng , can you please help me fix this package vulnerability?

[2022-07-27 12:21] sudomaze opened #636 "Mapping CUDA operations to `nn.Module`"
About a year ago, I came across PyTorch Profiler and shared my thoughts on this issue (https://github.com/pytorch/pytorch/issues/63159). I talked to someone from the PyTorch team about a certain point I mentioned in the issue. The ability to visualize the mapping of CUDA operations shown on the `tensorboard` to `nn.Module` components and, even better, show the code lines to ease of tracing.

From

[2022-07-27 16:39] robieta commented on #636
It's actually landed. Search "Module view" in https://github.com/pytorch/kineto/tree/main/tb_plugin

[2022-07-27 18:20] sudomaze commented on #636
That's awesome! I was planning to contribute by working on this feature. I will try to test it out sometime soon and share my feedback. Thanks!

[2022-07-28 23:04] #634 closed

[2022-08-02 09:02] woolpeeker opened #640 "No distributed view in tensorboard"
The python code is below. I use slurm sbatch to start it in the cluster.
backend is nccl.
The generated .json files seems normal.
There are "Overview" and other views except "Distributed", which is exactly what I need.
There are some error message from tensorboar. I paste part of them below because the rests are replications.

environment:
  Python==3.8.13
  torch==1.12.0
  tensorboard==2.9.1
  te

[2022-08-03 07:41] CaoE commented on #325
hi @gaoteng-git I had the same problem. When analyzing model performance, the overhead of profiler on CPU is large with batch size = 1, which makes analysis tricky. I found the exact overhead number : 4 us per op on CUDA, is there any number for the overhead on CPU ?

[2022-08-03 16:48] robieta commented on #325
CPU overhead is a few hundred nanoseconds to a microsecond, depending on what you're measuring. We've put a lot of work into reducing the overhead recently, but for small dispatch limited models some slowdown is expected. We can't do much about the GPU overhead; that comes from Cupti.

[2022-08-04 01:44] CaoE commented on #325
Thank you @robieta . If only measure op time without shape, stack ..., what's the overhead ?

[2022-08-04 03:38] robieta commented on #325
Last time I benchmarked it was ~250-350ns for op profiling (something like 100ns is observer machinery that you'd get just from registering a no-op observer) and ~200ns for python functions. (And the latter is due to a recent known regression. Once that's fixed it is more like 100ns.)

Times are measured late in the start callback and the end callback does almost no work, so we attribute as little

[2022-08-04 04:33] CaoE commented on #325
@robieta  Thanks for your detailed explanation.

But as described  in https://github.com/pytorch/pytorch/issues/82793,  the profiler overhead on CPU seems to be very large.

[2022-08-04 14:31] robieta commented on #325
Let's continue this discussion there.

[2022-08-08 18:56] NRHuntoon opened #644 "Tensorboard with profiler installed spawns hundereds of python tasks and crashes machine"
I'm attempting to run the profiler and on multiple machines now when I run Tensorboard after installing the profiler from PyPi, the machines crash due to an excessive amount of python tasks spawining.  If I run Tensorboard prior to installing the profiler it runs fine, so I'm pretty sure this is a problem with my installation of the profiler.

Machine 1:  Docker
base Docker Image: nvidia/cuda:11.6

[2022-08-15 05:02] xunsongh opened #647 "[RFC] Make the kineto extendable for other runtime than CUDA"
## 🚀 Feature
This RFC proposes to add a profile abstract shim layer to Kineto for plug-in to extend. They align with CUPTI. The common structure of the profiling information can be shared. And processes the profiling information with same post-analysis . To enable new language profiling, minimal changes are required in Kineto packages.

## Motivation
The Pytorch uses the Kineto as the new profiler

[2022-08-16 08:52] yangyanli commented on #564
I am experiencing similar (or the same?) issue with pytorch 1.12 as described by @cbjuan .

Moreover, I noticed a warning:
[code]
which was not there with pytorch 1.10.

[2022-08-17 03:35] xunsongh commented on #647
@gdankel Would you please help review this RFC? I think you should be an expert on this structure because you contributed most of the code on the CuptiActivityProfiler class. Would you please provide your suggestions on this RFC?

[2022-08-17 15:44] gujinghui commented on #647
@robieta   @gdankel  @aaronenyeshi  @malfet  @ezyang

Could you help review this RFC? Or, tell us who should review this RFC?
We are going to support PyTorch out-tree device, like XPU, in kineto with this RFC.

[2022-08-17 16:30] orionr commented on #647
@adnanaziz might be able to get the right reviewers on here. Thanks.

[2022-08-18 00:07] gujinghui commented on #647
Thanks @orionr

@adnanaziz  Could you help review this RFC, and give comments?

[2022-08-18 21:15] gdankel commented on #647
I'll be happy to review - just need to find some time, please be a little patient while I refresh my memory ;)

[2022-08-19 00:54] briancoutinho opened #650 "[Low Pri] Update to C++ 17"
Adding this issue as a placeholder for updating the C++ std supported in Kineto code.

Will adding a PR where we have commented out code to match C++ 11 standard used here. After this is migrated to C++17 we can uncomment the code.

Here is a related issue of migrating pytorch to C++ 17 as well. We should update Kineto once pytorch has completed it's migration
https://github.com/pytorch/pytorch/is

[2022-08-23 06:21] xunsongh commented on #647
@gdankel @adnanaziz May I know if there is any feedback from you on this RFC? I am afraid that if the progress is moving too slow, we cannot catch up the 1.13 release of PyTorch to pull in this feature for XPU.

[2022-08-23 07:01] gdankel commented on #647
Hi, I seem to recall some refactoring diffs not yet published to GitHub that addresses most of this, or maybe they were published but I missed them in my search. I would suggest landing these first since they should go a long way towards addressing this at the structural level. @chaekit you may be able to check?

[2022-08-23 22:08] aaronenyeshi commented on #564
This should be fixed with next Tensorboard plugin release. @chauhang - do you know when there will be another tb_plugin release?

[2022-08-31 13:47] gdankel commented on #647
@robieta @aaronenyeshi @chaekit @briancoutinho Could one of you dig up the other refactoring patch(es) and post them to github?

Specifically I introduced a composite profiler class, removed the ActivityProfilerProxy etc. I think it's better to discuss this in context of that.

[2022-09-14 01:10] gujinghui commented on #647
@gdankel  @robieta @aaronenyeshi @chaekit @briancoutinho
Could you give more suggestions on this RFC?
Then, we will follow to implement it based-on your comments.

[2022-09-14 15:04] msaroufim opened #655 "Diff 2 traces"
My workflow when using the PyTorch profiler is often to have some baseline to which I'm comparing some updated code. In some cases the updated code works and I want to know why and in other cases it makes things worse and I also want to understand why.

So far I zoom in and out a bunch to eyeball some differences but that whole process is time consuming

[2022-09-24 11:13] NouamaneTazi opened #659 "`kernel` vs `Kernel` category"
It seems that after installing the nightly Pytorch, running the profiler now puts kernels in `kernel` category (lowercase k) instead of the previous `Kernel` category which causes kernels not to show up in the trace correctly.
Renaming all `kernel` back to `Kernel` in the produced trace did fix the issue for me
[code]
[code]

[2022-09-24 11:14] NouamaneTazi commented on #564
Possibly related issue https://github.com/pytorch/kineto/issues/659

[2022-10-12 21:48] jxtps commented on #617
This is a very frustrating bug while trying to debug what's going wrong with my profiling in a mixed Linux & Windows environment, would be fantastic if @robieta's suggestion could be made reality.

[2022-10-13 04:08] qideng7 commented on #336
Same issue pops up with torch-tb-profiler=0.4.0, but the cause is different from @metropolik mentioned. It appears to be the "\\" in module name:
`"name": "lib\site-packages\torch\autograd\profiler.py(205): _start_trace", "pid": 19196, "tid": 9096,`
That workaround could still work.
| package  | version | build | source |
| ------------- | ------------- | ------------- | ------------- |
| pytorch

[2022-10-25 02:45] seelam commented on #659
I have the same problem, any update on this?

[2022-10-25 20:18] aaronenyeshi commented on #659
Hi, thank you for your report. Could you please share a link or screenshot of the traces that do not show up correctly? Which tools are having trouble processing lowercase 'kernel'?

[2022-10-25 20:27] seelam commented on #659
For me it is tensor board.

[2022-10-25 20:59] aaronenyeshi opened #675 "Release new tb_plugin package"
@guotuofeng @guyang3532 @gaoteng-git @chauhang

Would it be possible to release a new Tensorboard Plugin package? OSS users of Tensorboard are running into an issue where Tensorboard expects kernels to have category "Kernel" instead of "kernel".

This was fixed in https://github.com/pytorch/kineto/pull/593, but no new packages for Tensorboard have been release since then.

What is the procedure to

[2022-10-25 21:00] aaronenyeshi commented on #659
The Tensorboard issue was fixed awhile ago, but it looks like we haven't released a new Tensorboard plugin package in awhile. I've asked the tb_plugin team on how to create a new package for TB. In the meantime, I've opened a diff that should revert back to legacy "Kernel" cat name. https://github.com/pytorch/kineto/pull/674

[2022-10-30 09:49] lazerliu commented on #520
same warning,and canot load things from remote tensorborad server

[2022-10-31 23:01] #659 closed

[2022-11-01 17:08] #564 closed

[2022-11-01 17:10] aaronenyeshi commented on #591
Fixed in https://github.com/pytorch/kineto/pull/674

[2022-11-01 17:10] #591 closed

[2022-11-01 17:11] #514 closed

[2022-11-01 17:14] #636 closed

[2022-11-01 17:16] #622 closed

[2022-11-01 17:24] #36 closed

[2022-11-01 17:24] #86 closed

[2022-11-01 17:25] #126 closed

[2022-11-01 17:26] #175 closed

[2022-11-01 17:26] #188 closed

[2022-11-01 17:28] #269 closed

[2022-11-01 17:29] #280 closed

[2022-11-01 17:30] #43 closed

[2022-11-01 17:31] aaronenyeshi commented on #317
This is added by @robieta via with_stack=True.

[2022-11-01 17:31] #317 closed

[2022-11-01 17:36] aaronenyeshi commented on #325
Closing as the discussion is moving to pytorch#82793.

[2022-11-01 17:36] #325 closed

[2022-11-01 17:36] #328 closed

[2022-11-01 17:46] aaronenyeshi commented on #507
Please re-open an issue if this is still observed.

[2022-11-01 17:46] #507 closed

[2022-11-01 17:50] aaronenyeshi commented on #592
What issues did you run into when profiling a multi-CPU host?

[2022-11-02 01:41] gcervantes8 commented on #280
I think the issue should be reopened since profiling CUDA for Windows doesn't work. @aaronenyeshi

[2022-11-02 05:23] tonyjie commented on #592
It happens so long ago, so I cannot remember the details... I think the problem might be that the report shows a profiling result only for the host code that calls the function on the other CPU nodes, so that the runtime and memory in the report is very small. (If I recalled correctly, but I'm not very sure on that)

[2022-11-08 05:11] shrinath-suresh opened #679 "pytorch profiler tensorboard plugin not showing cuda activities - torch - 1.13"
While trying to profile runs with and without functorch, we observed that the pytorch profiler is not showing up the cuda activities in tensorboard UI..

Required pip packages

[code]

Script to reproduce

bert_vmap.py
[code]

Attaching the logs where cuda activity statistics are printed.

[bert_vmap_log.txt](https://github.com/pytorch/kineto/files/9957772/bert_vmap_log.txt)

Run the following com

[2022-11-08 05:20] shrinath-suresh commented on #679
Ran the same test with `pytorch==1.12.1`. I am able to view GPU stats in overview page

[pt12_bert.zip](https://github.com/pytorch/kineto/files/9957859/pt12_bert.zip)

unzip and run
`python pt12_bert.py`

![image](https://user-images.githubusercontent.com/63862647/200481268-4d3ffe88-9e69-4f00-81e3-ca8ae2c39794.png)

[2022-11-08 05:41] K-J-Q commented on #679
Ran the test with 1.12.1+cu113 (windows 10, Quadro RTX 3000)

I encountered the same issue as @shrinath-suresh

![Screenshot 2022-11-08 134058](https://user-images.githubusercontent.com/71882072/200484228-5bc3af19-9fcf-42da-9246-ab920b26e1f6.png)
4-4081-9781-4ac30a4d3eb0.png)

[2022-11-08 06:14] K-J-Q commented on #679
Same issue, but unable to show CUDA with torch==1.12.1
-running Windows 10 (RTX3000)

![image](https://user-images.githubusercontent.com/71882072/200488827-ce024fef-3717-410f-88e5-5896f581a756.png)

[2022-11-10 07:19] qq1243196045 opened #681 "what is happen when I use torch.profiler.profile with activities=[torch.profiler.ProfilerActivity.CPU, torch.profiler.ProfilerActivity.CUDA]"
I use profiler with `activities=[torch.profiler.ProfilerActivity.CPU, torch.profiler.ProfilerActivity.CUDA]`, and get time 0.22ms in cpu time , avg 5.14us in cuda time, and when I use `time.time()` with `torch.cuda.synchronize()`,the result is 0.24 ms. What is the difference between these results？
My code looks like:
[code]

[2022-11-11 21:22] briancoutinho commented on #681
Since you are measuring CUDA activities the profiler initializes and uses NVIDIA's CUPTI (CUDA profiling library). This will have some amount of overhead because CUDA runtime instruments the GPU kernels.
https://docs.nvidia.com/cupti/r_main.html#r_overhead

As a suggestion try adding a for loop for your model for example ` for ..: output= model(input)`, if the overhead increases proportionally the

[2022-11-14 21:34] aaronenyeshi commented on #647
Hi @gdankel - I will look for the refactoring patch. We were not able to land all the refactoring patches at the time.

[2022-11-17 15:48] andreykramer opened #688 "Events incorrectly registered with category 'user_annotation' instead of 'Operator'"
I've been having a problem with the _Step Time Breakdown_ plot, it was only showing a single step, 0, no matter how many steps I was actually profiling in the code. I could replicate running the ` resnet50_profiler_api` example.

The profiler is expecting an event to be of type "operator" and have a name starting with "ProfilerStep#" ([link](https://github.com/pytorch/kineto/blob/590fe9a11b7ec9321

[2022-11-18 07:49] GanjinZero commented on #520
same issue

[2022-11-22 17:09] juanigp commented on #679
Maybe it is related to [#659 ]

[2022-11-23 09:00] juanigp opened #695 "[tb plugin] Trace view empty, Lightning view missing"
Hello, I am new to the pytorch profiler, seems to be a really useful tool.

I am using pytorch-lightning for my jobs, and passing a default `pytorch_lightning.profilers.PyTorchProfiler` object to the `pytorch_lightning.trainer.trainer.Trainer` constructor.

I can see the "Normal" Overview, Operator, GPU Kernel, and Memory views for my resulting .json profiles, but the Trace view is empty. However,